{
  "openapi": "3.1.0",
  "info": {
    "title": "Kaneo API",
    "version": "1.0.0",
    "description": "Kaneo Project Management API - Manage projects, tasks, labels, and more"
  },
  "servers": [
    {
      "url": "https://cloud.kaneo.app/api",
      "description": "Kaneo API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key or session token (Bearer)"
      }
    },
    "schemas": {
      "InstanceStatus": {
        "type": "object",
        "properties": {
          "hasUsers": {
            "type": "boolean"
          },
          "hasAdmin": {
            "type": "boolean"
          }
        },
        "required": [
          "hasUsers",
          "hasAdmin"
        ]
      },
      "Config": {
        "type": "object",
        "properties": {
          "disableRegistration": {
            "type": "boolean"
          },
          "disablePasswordRegistration": {
            "type": "boolean"
          },
          "disableEmailOtpSignIn": {
            "type": "boolean"
          },
          "disableWorkspaceCreation": {
            "type": "boolean"
          },
          "isDemoMode": {
            "type": "boolean"
          },
          "hasSmtp": {
            "type": "boolean"
          },
          "hasGithubSignIn": {
            "type": "boolean"
          },
          "hasGoogleSignIn": {
            "type": "boolean"
          },
          "hasDiscordSignIn": {
            "type": "boolean"
          },
          "hasCustomOAuth": {
            "type": "boolean"
          },
          "hasGuestAccess": {
            "type": "boolean"
          },
          "disableLoginForm": {
            "type": "boolean"
          },
          "customOAuthAutoLogin": {
            "type": "boolean"
          },
          "customOAuthLogoutUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "billingEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "disableRegistration",
          "disablePasswordRegistration",
          "disableEmailOtpSignIn",
          "disableWorkspaceCreation",
          "isDemoMode",
          "hasSmtp",
          "hasGithubSignIn",
          "hasGoogleSignIn",
          "hasDiscordSignIn",
          "hasCustomOAuth",
          "hasGuestAccess",
          "disableLoginForm",
          "customOAuthAutoLogin",
          "customOAuthLogoutUrl",
          "billingEnabled"
        ]
      },
      "McpClientRegistration": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_id_issued_at": {
            "type": "number"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_name": {
            "type": "string"
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none"
            ]
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code"
              ]
            }
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          }
        },
        "required": [
          "client_id",
          "client_id_issued_at",
          "redirect_uris",
          "token_endpoint_auth_method",
          "grant_types",
          "response_types"
        ]
      },
      "OAuthError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "McpAuthorizationRequest": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          }
        },
        "required": [
          "client_name",
          "redirect_uri"
        ]
      },
      "McpAuthorizationDecision": {
        "type": "object",
        "properties": {
          "redirect": {
            "type": "string",
            "description": "Where to send the browser next: back to the client with a code on approval, or with an error on denial."
          }
        },
        "required": [
          "redirect"
        ]
      },
      "OAuthIdToken": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": [
              "string",
              "null"
            ],
            "description": "The stored id_token for the user's `custom` OAuth account, or null when they have no such account."
          }
        },
        "required": [
          "idToken"
        ]
      },
      "ProjectListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "type": "object",
            "properties": {
              "statistics": {
                "$ref": "#/components/schemas/ProjectStatistics"
              },
              "archivedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "plannedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "columns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardColumn"
                },
                "description": "Always empty."
              }
            },
            "required": [
              "statistics",
              "archivedTasks",
              "plannedTasks",
              "columns"
            ]
          }
        ]
      },
      "ProjectStatistics": {
        "type": "object",
        "properties": {
          "completionPercentage": {
            "type": "number"
          },
          "totalTasks": {
            "type": "number"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The soonest due date among the project's open tasks."
          },
          "nextDueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The soonest due date among open tasks only."
          },
          "openTasks": {
            "type": "number"
          },
          "completedTasks": {
            "type": "number"
          },
          "overdueTasks": {
            "type": "number",
            "description": "Open tasks whose due date has passed."
          },
          "dueThisWeekTasks": {
            "type": "number",
            "description": "Open tasks due in the next 7 days."
          },
          "estimateMinutes": {
            "type": "number",
            "description": "Sum of the tasks' estimates."
          },
          "trackedSecondsLast30Days": {
            "type": "number",
            "description": "Finished time entries on the project's tasks, last 30 days."
          },
          "assigneeIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "People assigned to the project's open tasks."
          },
          "lastActivityAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When any of the project's tasks last changed."
          }
        },
        "required": [
          "completionPercentage",
          "totalTasks",
          "dueDate",
          "nextDueDate",
          "openTasks",
          "completedTasks",
          "overdueTasks",
          "dueThisWeekTasks",
          "estimateMinutes",
          "trackedSecondsLast30Days",
          "assigneeIds",
          "lastActivityAt"
        ]
      },
      "BoardTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "position": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskLabel"
            }
          },
          "externalLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskExternalLink"
            }
          }
        },
        "required": [
          "id",
          "title",
          "number",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "position",
          "createdAt",
          "userId",
          "assigneeName",
          "assigneeId",
          "assigneeImage",
          "projectId",
          "labels",
          "externalLinks"
        ]
      },
      "TaskLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "color"
        ]
      },
      "TaskExternalLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Provider-specific payload, already parsed from the stored JSON string."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "integrationId",
          "resourceType",
          "externalId",
          "url",
          "title",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "BoardColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The column slug, same as `slug`."
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "icon",
          "isFinal",
          "tasks"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Short prefix used in task identifiers, e.g. KAN-12."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "isPublic": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When true the project's board is readable without signing in, via /api/public-project/{id}."
          },
          "archivedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Non-null once archived; archived projects are hidden by default."
          },
          "position": {
            "type": "number",
            "description": "Sidebar order, ascending."
          },
          "lastTaskNumber": {
            "type": "number",
            "description": "Highest task number issued in this project; the next task gets this plus one."
          }
        },
        "required": [
          "id",
          "workspaceId",
          "slug",
          "icon",
          "name",
          "description",
          "createdAt",
          "isPublic",
          "archivedAt",
          "position",
          "lastTaskNumber"
        ]
      },
      "BoardResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Board"
          },
          "pagination": {
            "$ref": "#/components/schemas/BoardPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "workspaceId": {
            "type": "string"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardColumn"
            }
          },
          "archivedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          },
          "plannedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "icon",
          "description",
          "isPublic",
          "workspaceId",
          "columns",
          "archivedTasks",
          "plannedTasks"
        ]
      },
      "BoardPagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "total",
          "page",
          "pageSize",
          "totalPages"
        ],
        "description": "When no page/limit is given, everything is returned on a single page."
      },
      "BulkTaskResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "updatedCount": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "updatedCount"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "position": {
            "type": [
              "number",
              "null"
            ],
            "description": "Order within its column, ascending."
          },
          "number": {
            "type": [
              "number",
              "null"
            ],
            "description": "Per-project counter shown as {projectSlug}-{number}."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The assignee, if any."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "description": "The slug of the column the task sits in."
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "estimateMinutes": {
            "type": [
              "number",
              "null"
            ],
            "description": "Planned effort in minutes."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "customFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fieldId": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "fieldId",
                "value"
              ]
            }
          }
        },
        "required": [
          "id",
          "projectId",
          "position",
          "number",
          "userId",
          "title",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "createdAt"
        ]
      },
      "TaskWithAssignee": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Task"
          },
          {
            "type": "object",
            "properties": {
              "assigneeName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "assigneeId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "assigneeName",
              "assigneeId"
            ]
          }
        ]
      },
      "MoveTaskResult": {
        "type": "object",
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "sourceProjectId": {
            "type": "string"
          },
          "destinationProjectId": {
            "type": "string"
          }
        },
        "required": [
          "task",
          "sourceProjectId",
          "destinationProjectId"
        ]
      },
      "TaskExport": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/TaskExportProject"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTask"
            }
          }
        },
        "required": [
          "project",
          "tasks"
        ]
      },
      "TaskExportProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "slug",
          "description",
          "exportedAt"
        ]
      },
      "ExportedTask": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTaskLabel"
            },
            "description": "Label names and colors, without their ids."
          }
        },
        "required": [
          "title",
          "description",
          "status",
          "priority",
          "dueDate",
          "startDate",
          "userId",
          "labels"
        ]
      },
      "ExportedTaskLabel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "color"
        ]
      },
      "TaskImportResult": {
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/TaskImportSummary"
          }
        },
        "required": [
          "results"
        ]
      },
      "TaskImportSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "successful": {
            "type": "number"
          },
          "failed": {
            "type": "number"
          },
          "tasks": {
            "type": "array",
            "items": {},
            "description": "Per-task outcome, each carrying a success flag."
          }
        },
        "required": [
          "total",
          "successful",
          "failed",
          "tasks"
        ]
      },
      "TaskImageUpload": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Object key to send back to the finalize route."
          },
          "uploadUrl": {
            "type": "string",
            "description": "Presigned URL to PUT the image bytes to."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers that must accompany the upload request, including Content-Type."
          }
        },
        "required": [
          "key",
          "uploadUrl",
          "headers"
        ]
      },
      "TaskImageAsset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Where the stored image can be read back from."
          }
        },
        "required": [
          "id",
          "url"
        ]
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Stable identifier derived from the name; tasks store this as their status."
          },
          "position": {
            "type": "number",
            "description": "Board order, ascending. Columns are always returned sorted by it."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean",
            "description": "Marks the column as a done state, which stops overdue reminders for tasks in it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "slug",
          "position",
          "icon",
          "color",
          "isFinal",
          "createdAt",
          "updatedAt"
        ]
      },
      "FeedActivity": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Activity"
          },
          {
            "type": "object",
            "properties": {
              "replyTo": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "userId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "userName": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "excerpt": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "userId",
                  "userName",
                  "excerpt"
                ],
                "description": "The quoted comment; null once it has been deleted."
              },
              "reactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "emoji": {
                      "type": "string"
                    },
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "emoji",
                    "userIds"
                  ]
                }
              }
            },
            "required": [
              "replyTo",
              "reactions"
            ]
          }
        ]
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "One of: comment, task, create, status_changed, priority_changed, assignee_changed, unassigned, due_date_changed, title_changed, description_changed."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { oldStatus, newStatus } for status_changed. Null for plain comments."
          },
          "externalUserName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when the activity was imported from another tool."
          },
          "externalUserAvatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "externalSource": {
            "type": [
              "string",
              "null"
            ],
            "description": "The tool it was imported from, e.g. planka, trello, jira."
          },
          "externalUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "replyToId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comments only: the comment this one replies to."
          },
          "editedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the author last edited the comment."
          }
        },
        "required": [
          "id",
          "taskId",
          "type",
          "createdAt",
          "updatedAt",
          "userId",
          "content",
          "externalUserName",
          "externalUserAvatar",
          "externalSource",
          "externalUrl",
          "replyToId",
          "editedAt"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/CommentAuthor"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "content",
          "createdAt",
          "updatedAt",
          "user"
        ]
      },
      "CommentAuthor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "image"
        ]
      },
      "TimeEntryDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeEntry"
          },
          {
            "type": "object",
            "properties": {
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "taskTitle": {
                "type": "string"
              },
              "taskNumber": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "projectId": {
                "type": "string"
              },
              "projectName": {
                "type": "string"
              },
              "projectSlug": {
                "type": "string"
              }
            },
            "required": [
              "userName",
              "taskTitle",
              "taskNumber",
              "projectId",
              "projectName",
              "projectSlug"
            ]
          }
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null once the user who logged the time has been removed."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null while the timer is still running."
          },
          "duration": {
            "type": [
              "number",
              "null"
            ],
            "description": "Elapsed seconds, filled in once the entry has an endTime."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "description",
          "startTime",
          "endTime",
          "duration",
          "createdAt",
          "updatedAt"
        ]
      },
      "RunningTimeEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeEntry"
          },
          {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "taskTitle": {
                "type": "string"
              },
              "taskNumber": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "projectId": {
                "type": "string"
              },
              "projectName": {
                "type": "string"
              },
              "projectSlug": {
                "type": "string"
              }
            },
            "required": [
              "userName",
              "taskTitle",
              "taskNumber",
              "projectId",
              "projectName",
              "projectSlug"
            ]
          }
        ]
      },
      "TimeEntryWithUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeEntry"
          },
          {
            "type": "object",
            "properties": {
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "userName"
            ]
          }
        ]
      },
      "FileStorage": {
        "type": "object",
        "properties": {
          "connected": {
            "type": "boolean"
          },
          "endpoint": {
            "type": [
              "string",
              "null"
            ]
          },
          "bucket": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "accessKeyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "keyPrefix": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "connected",
          "endpoint",
          "bucket",
          "region",
          "accessKeyId",
          "keyPrefix",
          "updatedAt"
        ]
      },
      "WorkspaceFileList": {
        "type": "object",
        "properties": {
          "folder": {
            "type": "string"
          },
          "folders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceFolder"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceFile"
            }
          }
        },
        "required": [
          "folder",
          "folders",
          "files"
        ]
      },
      "WorkspaceFolder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "example": "Design/Logos/"
          },
          "fileCount": {
            "type": "number",
            "description": "Files anywhere inside, sub-folders included."
          }
        },
        "required": [
          "name",
          "path",
          "fileCount"
        ]
      },
      "WorkspaceFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "size": {
            "type": "number"
          },
          "folder": {
            "type": "string"
          },
          "storage": {
            "type": "string",
            "description": "`s3` (R2) or `db`"
          },
          "uploadedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "uploadedByName": {
            "type": [
              "string",
              "null"
            ]
          },
          "publicUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "The live link while the file is shared, otherwise null."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "filename",
          "mimeType",
          "size",
          "folder",
          "storage",
          "uploadedBy",
          "uploadedByName",
          "publicUrl",
          "createdAt"
        ]
      },
      "FileFolderList": {
        "type": "object",
        "properties": {
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "folders"
        ]
      },
      "FolderPath": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          }
        },
        "required": [
          "path"
        ]
      },
      "ChatPresence": {
        "type": "object",
        "properties": {
          "online": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "online"
        ]
      },
      "ChatConversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "channel",
              "dm"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null for DMs."
          },
          "isPrivate": {
            "type": "boolean"
          },
          "createdBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "joined": {
            "type": "boolean",
            "description": "False for open channels the caller can join."
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatPerson"
            }
          },
          "unreadCount": {
            "type": "number"
          },
          "lastMessage": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "body": {
                "type": "string"
              },
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "body",
              "userName",
              "createdAt"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "isPrivate",
          "createdBy",
          "joined",
          "members",
          "unreadCount",
          "lastMessage",
          "createdAt"
        ]
      },
      "ChatPerson": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastReadAt": {
            "type": "string",
            "format": "date-time",
            "description": "Messages before this have been seen by this person."
          }
        },
        "required": [
          "id",
          "name",
          "image",
          "lastReadAt"
        ]
      },
      "ChatId": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "ChatMessagePage": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "messages",
          "hasMore"
        ]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "userName": {
            "type": [
              "string",
              "null"
            ]
          },
          "userImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "body": {
            "type": "string"
          },
          "replyTo": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "body": {
                "type": "string"
              },
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "body",
              "userName"
            ],
            "description": "The quoted message; null once it has been deleted."
          },
          "reactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "emoji": {
                  "type": "string"
                },
                "userIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "emoji",
                "userIds"
              ]
            }
          },
          "editedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "conversationId",
          "userId",
          "userName",
          "userImage",
          "body",
          "replyTo",
          "reactions",
          "editedAt",
          "createdAt"
        ]
      },
      "LinkPreview": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteName": {
            "type": [
              "string",
              "null"
            ]
          },
          "favicon": {
            "type": [
              "string",
              "null"
            ]
          },
          "youtubeId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "url",
          "title",
          "description",
          "image",
          "siteName",
          "favicon",
          "youtubeId"
        ]
      },
      "EmailLog": {
        "type": "object",
        "properties": {
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "resend",
              "smtp",
              null
            ],
            "description": "How this instance sends email; null when it can't."
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailLogEntry"
            }
          }
        },
        "required": [
          "provider",
          "entries"
        ]
      },
      "EmailLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "toEmail": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "queued, sending, sent or failed"
          },
          "attempts": {
            "type": "number"
          },
          "lastError": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "sentAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "toEmail",
          "subject",
          "category",
          "status",
          "attempts",
          "lastError",
          "createdAt",
          "sentAt"
        ]
      },
      "ReportSummary": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "object",
            "properties": {
              "userId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "team": {
                "type": "boolean",
                "description": "Whether the caller may see everyone (report:read)."
              }
            },
            "required": [
              "userId",
              "team"
            ]
          },
          "tasks": {
            "type": "object",
            "properties": {
              "created": {
                "type": "number"
              },
              "completed": {
                "type": "number"
              },
              "open": {
                "type": "number"
              },
              "overdue": {
                "type": "number"
              },
              "averageCycleHours": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "series": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string"
                    },
                    "created": {
                      "type": "number"
                    },
                    "completed": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "created",
                    "completed"
                  ]
                }
              },
              "byPerson": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "image": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "open": {
                      "type": "number"
                    },
                    "completed": {
                      "type": "number"
                    },
                    "overdue": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "userId",
                    "name",
                    "image",
                    "open",
                    "completed",
                    "overdue"
                  ]
                }
              },
              "byProject": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created": {
                      "type": "number"
                    },
                    "completed": {
                      "type": "number"
                    },
                    "open": {
                      "type": "number"
                    },
                    "overdue": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "projectId",
                    "name",
                    "created",
                    "completed",
                    "open",
                    "overdue"
                  ]
                }
              },
              "overdueTasks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "number": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "title": {
                      "type": "string"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "projectName": {
                      "type": "string"
                    },
                    "assigneeName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "number",
                    "title",
                    "dueDate",
                    "projectId",
                    "projectName",
                    "assigneeName"
                  ]
                }
              }
            },
            "required": [
              "created",
              "completed",
              "open",
              "overdue",
              "averageCycleHours",
              "series",
              "byPerson",
              "byProject",
              "overdueTasks"
            ]
          },
          "time": {
            "type": "object",
            "properties": {
              "trackedSeconds": {
                "type": "number"
              },
              "byDay": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string"
                    },
                    "seconds": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "seconds"
                  ]
                }
              },
              "byPerson": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "seconds": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "userId",
                    "name",
                    "seconds"
                  ]
                }
              },
              "byProject": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "seconds": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "projectId",
                    "name",
                    "seconds"
                  ]
                }
              }
            },
            "required": [
              "trackedSeconds",
              "byDay",
              "byPerson",
              "byProject"
            ]
          },
          "attendance": {
            "type": "object",
            "properties": {
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "presentDays": {
                      "type": "number"
                    },
                    "lateDays": {
                      "type": "number"
                    },
                    "absentDays": {
                      "type": "number"
                    },
                    "leaveDays": {
                      "type": "number"
                    },
                    "workedMinutes": {
                      "type": "number"
                    },
                    "overtimeMinutes": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "userId",
                    "name",
                    "presentDays",
                    "lateDays",
                    "absentDays",
                    "leaveDays",
                    "workedMinutes",
                    "overtimeMinutes"
                  ]
                }
              },
              "totals": {
                "type": "object",
                "properties": {
                  "presentDays": {
                    "type": "number"
                  },
                  "lateDays": {
                    "type": "number"
                  },
                  "absentDays": {
                    "type": "number"
                  },
                  "leaveDays": {
                    "type": "number"
                  },
                  "workedMinutes": {
                    "type": "number"
                  },
                  "overtimeMinutes": {
                    "type": "number"
                  }
                },
                "required": [
                  "presentDays",
                  "lateDays",
                  "absentDays",
                  "leaveDays",
                  "workedMinutes",
                  "overtimeMinutes"
                ]
              }
            },
            "required": [
              "people",
              "totals"
            ]
          },
          "leave": {
            "type": "object",
            "properties": {
              "approvedDaysByType": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "days": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "type",
                    "days"
                  ]
                }
              },
              "requestsByStatus": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "status",
                    "count"
                  ]
                }
              }
            },
            "required": [
              "approvedDaysByType",
              "requestsByStatus"
            ]
          },
          "expenses": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "currency": {
                "type": "string"
              },
              "byCategory": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "category",
                    "amount"
                  ]
                }
              },
              "byStatus": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "count": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "status",
                    "count",
                    "amount"
                  ]
                }
              }
            },
            "required": [
              "currency",
              "byCategory",
              "byStatus"
            ],
            "description": "Amounts in minor units. Null for people who may not see others' money."
          }
        },
        "required": [
          "scope",
          "tasks",
          "time",
          "attendance",
          "leave",
          "expenses"
        ]
      },
      "ReportActivity": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "task",
                    "audit"
                  ]
                },
                "action": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "actorId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "actorName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "data": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "additionalProperties": {}
                },
                "content": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "taskId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "taskNumber": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "taskTitle": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "projectId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "projectName": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "source",
                "action",
                "createdAt",
                "actorId",
                "actorName",
                "data",
                "content",
                "taskId",
                "taskNumber",
                "taskTitle",
                "projectId",
                "projectName"
              ]
            }
          },
          "nextBefore": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "items",
          "nextBefore"
        ]
      },
      "TaskChecklist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null shows as the default name, \"Checklist\"."
          },
          "position": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "title",
          "position",
          "createdAt"
        ]
      },
      "CompanyToday": {
        "type": "object",
        "properties": {
          "people": {
            "type": "number"
          },
          "present": {
            "type": "number",
            "description": "Clocked in, or with the desktop app online."
          },
          "tasksDueToday": {
            "type": "number"
          },
          "overdueTasks": {
            "type": "number"
          },
          "workedMinutesToday": {
            "type": "number"
          },
          "pendingLeave": {
            "type": "number"
          },
          "openPayrolls": {
            "type": [
              "number",
              "null"
            ],
            "description": "Draft or approved payrolls not yet paid. Null without payroll:read."
          }
        },
        "required": [
          "people",
          "present",
          "tasksDueToday",
          "overdueTasks",
          "workedMinutesToday",
          "pendingLeave",
          "openPayrolls"
        ]
      },
      "AuditEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "actorName": {
            "type": [
              "string",
              "null"
            ]
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": [
              "string",
              "null"
            ]
          },
          "targetName": {
            "type": [
              "string",
              "null"
            ]
          },
          "data": {},
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "actorName",
          "action",
          "targetType",
          "targetId",
          "targetName",
          "createdAt"
        ]
      },
      "LeaveRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "days": {
            "type": "number"
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "description": "pending, approved, rejected or cancelled"
          },
          "decidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "decisionNote": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "userName",
          "type",
          "startDate",
          "endDate",
          "days",
          "reason",
          "status",
          "decidedAt",
          "decisionNote",
          "createdAt"
        ]
      },
      "LeaveBalance": {
        "type": "object",
        "properties": {
          "year": {
            "type": "number"
          },
          "allowance": {
            "type": "number"
          },
          "used": {
            "type": "number"
          },
          "pending": {
            "type": "number"
          },
          "available": {
            "type": "number"
          }
        },
        "required": [
          "year",
          "allowance",
          "used",
          "pending",
          "available"
        ]
      },
      "Expense": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "spentOn": {
            "type": "string"
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectName": {
            "type": [
              "string",
              "null"
            ]
          },
          "receiptFileId": {
            "type": [
              "string",
              "null"
            ]
          },
          "receiptName": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "description": "pending, approved, rejected or paid"
          },
          "decidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paidAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "userName",
          "amount",
          "currency",
          "category",
          "description",
          "spentOn",
          "projectId",
          "projectName",
          "receiptFileId",
          "receiptName",
          "status",
          "decidedAt",
          "paidAt",
          "createdAt"
        ]
      },
      "LeaveHistory": {
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/LeaveRequest"
            },
            {
              "type": "object",
              "properties": {
                "decidedByName": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "decidedByName"
              ]
            }
          ]
        }
      },
      "LeavePreview": {
        "type": "object",
        "properties": {
          "days": {
            "type": "number",
            "description": "Working days in the range."
          }
        },
        "required": [
          "days"
        ]
      },
      "LeaveRequestBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "days": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "startDate",
          "endDate",
          "days",
          "status"
        ]
      },
      "OpenRequests": {
        "type": "object",
        "properties": {
          "leave": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeaveRequest"
            }
          },
          "expenses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Expense"
            }
          }
        },
        "required": [
          "leave",
          "expenses"
        ]
      },
      "StoredFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "size": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "filename",
          "mimeType",
          "size"
        ]
      },
      "Salary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string"
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdByName": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "amount",
          "type",
          "effectiveFrom",
          "note",
          "createdAt",
          "createdByName"
        ]
      },
      "CurrentSalaries": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "userId": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "amount": {
              "type": [
                "number",
                "null"
              ]
            },
            "type": {
              "type": [
                "string",
                "null"
              ]
            },
            "effectiveFrom": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          "required": [
            "userId",
            "name",
            "amount",
            "type",
            "effectiveFrom"
          ]
        }
      },
      "PayrollRunSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "year": {
            "type": "number"
          },
          "month": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "draft, approved or paid"
          },
          "approvedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paidAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "people": {
            "type": "number"
          },
          "netTotal": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "year",
          "month",
          "currency",
          "status",
          "approvedAt",
          "paidAt",
          "createdAt",
          "people",
          "netTotal"
        ]
      },
      "PayrollRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "year": {
            "type": "number"
          },
          "month": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "draft, approved or paid"
          },
          "approvedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paidAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayrollItem"
            }
          }
        },
        "required": [
          "id",
          "year",
          "month",
          "currency",
          "status",
          "approvedAt",
          "paidAt",
          "createdAt",
          "items"
        ]
      },
      "PayrollItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "employeeName": {
            "type": "string"
          },
          "salaryType": {
            "type": "string"
          },
          "salaryAmount": {
            "type": "number"
          },
          "workedMinutes": {
            "type": "number"
          },
          "overtimeMinutes": {
            "type": "number"
          },
          "baseAmount": {
            "type": "number"
          },
          "overtimeAmount": {
            "type": "number"
          },
          "overtimeRate": {
            "type": "number",
            "description": "Pay for one overtime hour, overtime premium included."
          },
          "overtimeAutoAmount": {
            "type": "number",
            "description": "Overtime as calculated. Differs from overtimeAmount when edited."
          },
          "bonus": {
            "type": "number"
          },
          "deduction": {
            "type": "number"
          },
          "netAmount": {
            "type": "number"
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "userId",
          "employeeName",
          "salaryType",
          "salaryAmount",
          "workedMinutes",
          "overtimeMinutes",
          "baseAmount",
          "overtimeAmount",
          "overtimeRate",
          "overtimeAutoAmount",
          "bonus",
          "deduction",
          "netAmount",
          "note"
        ]
      },
      "PayrollRunBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "year": {
            "type": "number"
          },
          "month": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "draft, approved or paid"
          },
          "approvedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "paidAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "year",
          "month",
          "currency",
          "status",
          "approvedAt",
          "paidAt",
          "createdAt"
        ]
      },
      "Payslips": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "runId": {
              "type": "string"
            },
            "year": {
              "type": "number"
            },
            "month": {
              "type": "number"
            },
            "currency": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "baseAmount": {
              "type": "number"
            },
            "overtimeMinutes": {
              "type": "number"
            },
            "overtimeAmount": {
              "type": "number"
            },
            "bonus": {
              "type": "number"
            },
            "deduction": {
              "type": "number"
            },
            "netAmount": {
              "type": "number"
            }
          },
          "required": [
            "runId",
            "year",
            "month",
            "currency",
            "status",
            "baseAmount",
            "overtimeMinutes",
            "overtimeAmount",
            "bonus",
            "deduction",
            "netAmount"
          ]
        }
      },
      "AgentPairResult": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "Shown once. Store it in the OS keychain."
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "settings": {
            "$ref": "#/components/schemas/AgentSettings"
          }
        },
        "required": [
          "deviceId",
          "token",
          "workspaceId",
          "workspaceName",
          "userName",
          "settings"
        ]
      },
      "AgentSettings": {
        "type": "object",
        "properties": {
          "trackDomains": {
            "type": "boolean"
          },
          "heartbeatSeconds": {
            "type": "number"
          },
          "syncSeconds": {
            "type": "number"
          },
          "idleAfterSeconds": {
            "type": "number"
          }
        },
        "required": [
          "trackDomains",
          "heartbeatSeconds",
          "syncSeconds",
          "idleAfterSeconds"
        ]
      },
      "AgentHeartbeatResult": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/AgentSettings"
          },
          "serverTime": {
            "type": "string",
            "format": "date-time"
          },
          "attendance": {
            "$ref": "#/components/schemas/AgentAttendance"
          }
        },
        "required": [
          "settings",
          "serverTime",
          "attendance"
        ]
      },
      "AgentAttendance": {
        "type": "object",
        "properties": {
          "autoClock": {
            "type": "boolean",
            "description": "Whether the company clocks people in and out from the app."
          },
          "clockedIn": {
            "type": "boolean"
          },
          "since": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "automatic": {
            "type": "boolean",
            "description": "The open session was started by the app, not by hand."
          }
        },
        "required": [
          "autoClock",
          "clockedIn",
          "since",
          "automatic"
        ]
      },
      "AgentOfflineResult": {
        "type": "object",
        "properties": {
          "attendance": {
            "$ref": "#/components/schemas/AgentAttendance"
          }
        },
        "required": [
          "attendance"
        ]
      },
      "AgentActivityResult": {
        "type": "object",
        "properties": {
          "accepted": {
            "type": "number"
          },
          "duplicates": {
            "type": "number"
          }
        },
        "required": [
          "accepted",
          "duplicates"
        ]
      },
      "AgentPairingCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "expiresAt"
        ]
      },
      "AgentDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "agentVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastState": {
            "type": [
              "string",
              "null"
            ]
          },
          "online": {
            "type": "boolean"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "name",
          "platform",
          "agentVersion",
          "lastSeenAt",
          "lastState",
          "online",
          "revokedAt",
          "createdAt"
        ]
      },
      "ActivitySummary": {
        "type": "object",
        "properties": {
          "timeZone": {
            "type": "string"
          },
          "activeSeconds": {
            "type": "number"
          },
          "idleSeconds": {
            "type": "number"
          },
          "apps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "seconds": {
                  "type": "number"
                }
              },
              "required": [
                "name",
                "seconds"
              ]
            }
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "seconds": {
                  "type": "number"
                }
              },
              "required": [
                "name",
                "seconds"
              ]
            }
          },
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string"
                },
                "activeSeconds": {
                  "type": "number"
                },
                "idleSeconds": {
                  "type": "number"
                }
              },
              "required": [
                "day",
                "activeSeconds",
                "idleSeconds"
              ]
            }
          }
        },
        "required": [
          "timeZone",
          "activeSeconds",
          "idleSeconds",
          "apps",
          "domains",
          "days"
        ]
      },
      "ActivitySpans": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "startedAt": {
              "type": "string",
              "format": "date-time"
            },
            "endedAt": {
              "type": "string",
              "format": "date-time"
            },
            "state": {
              "type": "string"
            },
            "app": {
              "type": [
                "string",
                "null"
              ]
            },
            "domain": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          "required": [
            "startedAt",
            "endedAt",
            "state",
            "app",
            "domain"
          ]
        }
      },
      "AttendanceStatus": {
        "type": "object",
        "properties": {
          "clockedIn": {
            "type": "boolean"
          },
          "since": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "today": {
            "$ref": "#/components/schemas/AttendanceDay"
          }
        },
        "required": [
          "clockedIn",
          "since",
          "today"
        ]
      },
      "AttendanceDay": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "present",
              "late",
              "absent",
              "leave",
              "off",
              "pending",
              "upcoming",
              "notJoined"
            ],
            "description": "late: clocked in after the start plus the grace period. leave: approved leave on a working day. pending: today, not clocked in yet."
          },
          "lateMinutes": {
            "type": "number"
          },
          "leaveType": {
            "type": [
              "string",
              "null"
            ]
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttendanceSession"
            }
          },
          "firstIn": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastOut": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "open": {
            "type": "boolean"
          },
          "scheduledMinutes": {
            "type": "number"
          },
          "workedMinutes": {
            "type": "number",
            "description": "Clocked-in time; an open session counts up to now."
          },
          "overtimeMinutes": {
            "type": "number"
          },
          "activeSeconds": {
            "type": "number",
            "description": "Desktop activity with input. Separate from worked time."
          },
          "idleSeconds": {
            "type": "number"
          }
        },
        "required": [
          "day",
          "status",
          "lateMinutes",
          "leaveType",
          "sessions",
          "firstIn",
          "lastOut",
          "open",
          "scheduledMinutes",
          "workedMinutes",
          "overtimeMinutes",
          "activeSeconds",
          "idleSeconds"
        ]
      },
      "AttendanceSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clockIn": {
            "type": "string",
            "format": "date-time"
          },
          "clockOut": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "source": {
            "type": "string"
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "clockIn",
          "clockOut",
          "source",
          "note"
        ]
      },
      "AttendanceDays": {
        "type": "object",
        "properties": {
          "timeZone": {
            "type": "string"
          },
          "today": {
            "type": "string"
          },
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttendanceDay"
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "scheduledMinutes": {
                "type": "number"
              },
              "workedMinutes": {
                "type": "number"
              },
              "overtimeMinutes": {
                "type": "number"
              },
              "activeSeconds": {
                "type": "number"
              },
              "idleSeconds": {
                "type": "number"
              },
              "presentDays": {
                "type": "number",
                "description": "Late days included."
              },
              "lateDays": {
                "type": "number"
              },
              "absentDays": {
                "type": "number"
              },
              "leaveDays": {
                "type": "number"
              }
            },
            "required": [
              "scheduledMinutes",
              "workedMinutes",
              "overtimeMinutes",
              "activeSeconds",
              "idleSeconds",
              "presentDays",
              "lateDays",
              "absentDays",
              "leaveDays"
            ]
          }
        },
        "required": [
          "timeZone",
          "today",
          "days",
          "totals"
        ]
      },
      "TeamAttendance": {
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/AttendanceDay"
            },
            {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "image": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "userId",
                "name",
                "image"
              ]
            }
          ]
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "departmentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "departmentName": {
            "type": [
              "string",
              "null"
            ]
          },
          "joinDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "clockedIn": {
            "type": "boolean",
            "description": "Has an open attendance session right now."
          },
          "online": {
            "type": "boolean",
            "description": "A paired desktop app reported in during the last two minutes. Presence only, not work time."
          }
        },
        "required": [
          "userId",
          "name",
          "email",
          "image",
          "role",
          "title",
          "departmentId",
          "departmentName",
          "joinDate",
          "status",
          "clockedIn",
          "online"
        ]
      },
      "PeopleOverview": {
        "type": "object",
        "properties": {
          "today": {
            "type": "string",
            "description": "Company-local day"
          },
          "currency": {
            "type": "string"
          },
          "leaveAllowance": {
            "type": "number",
            "description": "Annual leave days per person"
          },
          "unassignedOpenTasks": {
            "type": "number"
          },
          "people": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "openTasks": {
                  "type": "number"
                },
                "overdueTasks": {
                  "type": "number"
                },
                "workedMinutesThisMonth": {
                  "type": "number"
                },
                "leaveUsed": {
                  "type": "number"
                },
                "leavePending": {
                  "type": "number"
                },
                "onLeaveToday": {
                  "type": "boolean"
                }
              },
              "required": [
                "userId",
                "openTasks",
                "overdueTasks",
                "workedMinutesThisMonth",
                "leaveUsed",
                "leavePending",
                "onLeaveToday"
              ]
            }
          }
        },
        "required": [
          "today",
          "currency",
          "leaveAllowance",
          "unassignedOpenTasks",
          "people"
        ]
      },
      "PersonDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Person"
          },
[...]
