{
  "openapi": "3.1.0",
  "info": {
    "title": "Kaneo API",
    "version": "1.0.0",
    "description": "Kaneo Project Management API - Manage projects, tasks, labels, and more"
  },
  "servers": [
    {
      "url": "https://cloud.kaneo.app/api",
      "description": "Kaneo API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key or session token (Bearer)"
      }
    },
    "schemas": {
      "InstanceStatus": {
        "type": "object",
        "properties": {
          "hasUsers": {
            "type": "boolean"
          },
          "hasAdmin": {
            "type": "boolean"
          }
        },
        "required": [
          "hasUsers",
          "hasAdmin"
        ]
      },
      "Config": {
        "type": "object",
        "properties": {
          "disableRegistration": {
            "type": "boolean"
          },
          "disablePasswordRegistration": {
            "type": "boolean"
          },
          "disableEmailOtpSignIn": {
            "type": "boolean"
          },
          "disableWorkspaceCreation": {
            "type": "boolean"
          },
          "isDemoMode": {
            "type": "boolean"
          },
          "hasSmtp": {
            "type": "boolean"
          },
          "hasGithubSignIn": {
            "type": "boolean"
          },
          "hasGoogleSignIn": {
            "type": "boolean"
          },
          "hasDiscordSignIn": {
            "type": "boolean"
          },
          "hasCustomOAuth": {
            "type": "boolean"
          },
          "hasGuestAccess": {
            "type": "boolean"
          },
          "disableLoginForm": {
            "type": "boolean"
          },
          "customOAuthAutoLogin": {
            "type": "boolean"
          },
          "customOAuthLogoutUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "billingEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "disableRegistration",
          "disablePasswordRegistration",
          "disableEmailOtpSignIn",
          "disableWorkspaceCreation",
          "isDemoMode",
          "hasSmtp",
          "hasGithubSignIn",
          "hasGoogleSignIn",
          "hasDiscordSignIn",
          "hasCustomOAuth",
          "hasGuestAccess",
          "disableLoginForm",
          "customOAuthAutoLogin",
          "customOAuthLogoutUrl",
          "billingEnabled"
        ]
      },
      "McpClientRegistration": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_id_issued_at": {
            "type": "number"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_name": {
            "type": "string"
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none"
            ]
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code"
              ]
            }
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          }
        },
        "required": [
          "client_id",
          "client_id_issued_at",
          "redirect_uris",
          "token_endpoint_auth_method",
          "grant_types",
          "response_types"
        ]
      },
      "OAuthError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "McpAuthorizationRequest": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          }
        },
        "required": [
          "client_name",
          "redirect_uri"
        ]
      },
      "McpAuthorizationDecision": {
        "type": "object",
        "properties": {
          "redirect": {
            "type": "string",
            "description": "Where to send the browser next: back to the client with a code on approval, or with an error on denial."
          }
        },
        "required": [
          "redirect"
        ]
      },
      "OAuthIdToken": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": [
              "string",
              "null"
            ],
            "description": "The stored id_token for the user's `custom` OAuth account, or null when they have no such account."
          }
        },
        "required": [
          "idToken"
        ]
      },
      "ProjectListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "type": "object",
            "properties": {
              "statistics": {
                "$ref": "#/components/schemas/ProjectStatistics"
              },
              "archivedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "plannedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "columns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardColumn"
                },
                "description": "Always empty."
              }
            },
            "required": [
              "statistics",
              "archivedTasks",
              "plannedTasks",
              "columns"
            ]
          }
        ]
      },
      "ProjectStatistics": {
        "type": "object",
        "properties": {
          "completionPercentage": {
            "type": "number"
          },
          "totalTasks": {
            "type": "number"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The soonest due date among the project's open tasks."
          }
        },
        "required": [
          "completionPercentage",
          "totalTasks",
          "dueDate"
        ]
      },
      "BoardTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "position": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskLabel"
            }
          },
          "externalLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskExternalLink"
            }
          }
        },
        "required": [
          "id",
          "title",
          "number",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "position",
          "createdAt",
          "userId",
          "assigneeName",
          "assigneeId",
          "assigneeImage",
          "projectId",
          "labels",
          "externalLinks"
        ]
      },
      "TaskLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "color"
        ]
      },
      "TaskExternalLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Provider-specific payload, already parsed from the stored JSON string."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "integrationId",
          "resourceType",
          "externalId",
          "url",
          "title",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "BoardColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The column slug, same as `slug`."
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "icon",
          "isFinal",
          "tasks"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Short prefix used in task identifiers, e.g. KAN-12."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "isPublic": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When true the project's board is readable without signing in, via /api/public-project/{id}."
          },
          "archivedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Non-null once archived; archived projects are hidden by default."
          },
          "position": {
            "type": "number",
            "description": "Sidebar order, ascending."
          },
          "lastTaskNumber": {
            "type": "number",
            "description": "Highest task number issued in this project; the next task gets this plus one."
          }
        },
        "required": [
          "id",
          "workspaceId",
          "slug",
          "icon",
          "name",
          "description",
          "createdAt",
          "isPublic",
          "archivedAt",
          "position",
          "lastTaskNumber"
        ]
      },
      "BoardResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Board"
          },
          "pagination": {
            "$ref": "#/components/schemas/BoardPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "isPublic": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "workspaceId": {
            "type": "string"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardColumn"
            }
          },
          "archivedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          },
          "plannedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          },
          "subtaskRelations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardSubtaskRelation"
            }
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "icon",
          "description",
          "isPublic",
          "workspaceId",
          "columns",
          "archivedTasks",
          "plannedTasks",
          "subtaskRelations"
        ]
      },
      "BoardPagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "total",
          "page",
          "pageSize",
          "totalPages"
        ],
        "description": "When no page/limit is given, everything is returned on a single page."
      },
      "BulkTaskResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "updatedCount": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "updatedCount"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "position": {
            "type": [
              "number",
              "null"
            ],
            "description": "Order within its column, ascending."
          },
          "number": {
            "type": [
              "number",
              "null"
            ],
            "description": "Per-project counter shown as {projectSlug}-{number}."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The assignee, if any."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "description": "The slug of the column the task sits in."
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "position",
          "number",
          "userId",
          "title",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "createdAt"
        ]
      },
      "TaskWithAssignee": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Task"
          },
          {
            "type": "object",
            "properties": {
              "assigneeName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "assigneeId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "assigneeName",
              "assigneeId"
            ]
          }
        ]
      },
      "MoveTaskResult": {
        "type": "object",
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "sourceProjectId": {
            "type": "string"
          },
          "destinationProjectId": {
            "type": "string"
          }
        },
        "required": [
          "task",
          "sourceProjectId",
          "destinationProjectId"
        ]
      },
      "TaskExport": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/TaskExportProject"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTask"
            }
          }
        },
        "required": [
          "project",
          "tasks"
        ]
      },
      "TaskExportProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "slug",
          "description",
          "exportedAt"
        ]
      },
      "ExportedTask": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTaskLabel"
            },
            "description": "Label names and colors, without their ids."
          }
        },
        "required": [
          "title",
          "description",
          "status",
          "priority",
          "dueDate",
          "startDate",
          "userId",
          "labels"
        ]
      },
      "ExportedTaskLabel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "color"
        ]
      },
      "TaskImportResult": {
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/TaskImportSummary"
          }
        },
        "required": [
          "results"
        ]
      },
      "TaskImportSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "successful": {
            "type": "number"
          },
          "failed": {
            "type": "number"
          },
          "tasks": {
            "type": "array",
            "items": {},
            "description": "Per-task outcome, each carrying a success flag."
          }
        },
        "required": [
          "total",
          "successful",
          "failed",
          "tasks"
        ]
      },
      "TaskImageUpload": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Object key to send back to the finalize route."
          },
          "uploadUrl": {
            "type": "string",
            "description": "Presigned URL to PUT the image bytes to."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers that must accompany the upload request, including Content-Type."
          }
        },
        "required": [
          "key",
          "uploadUrl",
          "headers"
        ]
      },
      "TaskImageAsset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Where the stored image can be read back from."
          }
        },
        "required": [
          "id",
          "url"
        ]
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Stable identifier derived from the name; tasks store this as their status."
          },
          "position": {
            "type": "number",
            "description": "Board order, ascending. Columns are always returned sorted by it."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean",
            "description": "Marks the column as a done state, which stops overdue reminders for tasks in it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "slug",
          "position",
          "icon",
          "color",
          "isFinal",
          "createdAt",
          "updatedAt"
        ]
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "One of: comment, task, create, status_changed, priority_changed, assignee_changed, unassigned, due_date_changed, title_changed, description_changed."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { oldStatus, newStatus } for status_changed. Null for plain comments."
          },
          "externalUserName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when the activity was imported from another tool."
          },
          "externalUserAvatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "externalSource": {
            "type": [
              "string",
              "null"
            ],
            "description": "The tool it was imported from, e.g. planka, trello, jira."
          },
          "externalUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "taskId",
          "type",
          "createdAt",
          "updatedAt",
          "userId",
          "content",
          "externalUserName",
          "externalUserAvatar",
          "externalSource",
          "externalUrl"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/CommentAuthor"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "content",
          "createdAt",
          "updatedAt",
          "user"
        ]
      },
      "CommentAuthor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "image"
        ]
      },
      "TimeEntryWithUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeEntry"
          },
          {
            "type": "object",
            "properties": {
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "userName"
            ]
          }
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null once the user who logged the time has been removed."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null while the timer is still running."
          },
          "duration": {
            "type": [
              "number",
              "null"
            ],
            "description": "Elapsed seconds, filled in once the entry has an endTime."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "description",
          "startTime",
          "endTime",
          "duration",
          "createdAt",
          "updatedAt"
        ]
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "taskId": {
            "type": [
              "string",
              "null"
            ]
          },
          "workspaceId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "color",
          "createdAt",
          "updatedAt",
          "taskId",
          "workspaceId"
        ]
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-text body. Null for generated notifications, whose text the client renders from type and eventData."
          },
          "type": {
            "type": "string",
            "description": "One of: info, task_created, workspace_created, task_status_changed, task_assignee_changed, time_entry_created, due_date_reminder, task_overdue, task_mention, task_comment."
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { taskTitle, oldStatus, newStatus, projectId, workspaceId }."
          },
          "isRead": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "resourceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The id of the task or workspace the notification points at."
          },
          "resourceType": {
            "type": [
              "string",
              "null"
            ],
            "description": "`task` or `workspace`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "title",
          "content",
          "type",
          "isRead",
          "resourceId",
          "resourceType",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationBulkResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ]
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "ntfyEnabled": {
            "type": "boolean"
          },
          "ntfyConfigured": {
            "type": "boolean"
          },
          "ntfyServerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "ntfyTopic": {
            "type": [
              "string",
              "null"
            ]
          },
          "ntfyTokenConfigured": {
            "type": "boolean"
          },
          "maskedNtfyToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "gotifyEnabled": {
            "type": "boolean"
          },
          "gotifyConfigured": {
            "type": "boolean"
          },
          "gotifyServerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "gotifyTokenConfigured": {
            "type": "boolean"
          },
          "maskedGotifyToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookEnabled": {
            "type": "boolean"
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "webhookUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookSecretConfigured": {
            "type": "boolean"
          },
          "maskedWebhookSecret": {
            "type": [
              "string",
              "null"
            ]
          },
          "taskAssignmentEnabled": {
            "type": "boolean"
          },
          "taskCommentEnabled": {
            "type": "boolean"
          },
          "taskStatusChangeEnabled": {
            "type": "boolean"
          },
          "dueDateReminderEnabled": {
            "type": "boolean"
          },
          "dueDateReminderLeadTimeMinutes": {
            "type": "number",
            "description": "How long before a due date the reminder fires, in minutes."
          },
          "workspaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationPreferenceWorkspaceRule"
            },
            "description": "Per-workspace overrides. A workspace with no rule follows the global settings."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "emailAddress",
          "emailEnabled",
          "ntfyEnabled",
          "ntfyConfigured",
          "ntfyServerUrl",
          "ntfyTopic",
          "ntfyTokenConfigured",
          "maskedNtfyToken",
          "gotifyEnabled",
          "gotifyConfigured",
          "gotifyServerUrl",
          "gotifyTokenConfigured",
          "maskedGotifyToken",
          "webhookEnabled",
          "webhookConfigured",
          "webhookUrl",
          "webhookSecretConfigured",
          "maskedWebhookSecret",
          "taskAssignmentEnabled",
          "taskCommentEnabled",
          "taskStatusChangeEnabled",
          "dueDateReminderEnabled",
          "dueDateReminderLeadTimeMinutes",
          "workspaces",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationPreferenceWorkspaceRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean",
            "description": "Turn all notifications for this workspace on or off."
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "ntfyEnabled": {
            "type": "boolean"
          },
          "gotifyEnabled": {
            "type": "boolean"
          },
          "webhookEnabled": {
            "type": "boolean"
          },
          "projectMode": {
            "type": "string",
            "enum": [
              "all",
              "selected"
            ],
            "description": "`all` notifies for every project in the workspace; `selected` restricts it to selectedProjectIds."
          },
          "selectedProjectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "workspaceName",
          "isActive",
          "emailEnabled",
          "ntfyEnabled",
          "gotifyEnabled",
          "webhookEnabled",
          "projectMode",
          "selectedProjectIds",
          "createdAt",
          "updatedAt"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "totalCount": {
            "type": "number",
            "description": "Total matches found before the `limit` slice, so a caller can tell that more exist."
          },
          "searchQuery": {
            "type": "string",
            "description": "The query that was run."
          }
        },
        "required": [
          "results",
          "totalCount",
          "searchQuery"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "task",
              "project",
              "workspace",
              "comment",
              "activity"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Matched body text, for comment and activity results. Activities get a rendered summary such as `changed status from Todo to In Progress`."
          },
          "projectId": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "projectSlug": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "relevanceScore": {
            "type": "number",
            "description": "Higher is a better match. Results are sorted by score, then by createdAt descending."
          },
          "taskNumber": {
            "type": "number"
          },
          "priority": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "title",
          "createdAt",
          "relevanceScore"
        ]
      },
      "GitHubAppInfo": {
        "type": "object",
        "properties": {
          "appName": {
            "type": [
              "string",
              "null"
            ],
            "description": "The configured GitHub App slug, or null when this instance has no App set up."
          }
        },
        "required": [
          "appName"
        ]
      },
      "GitHubRepositoryList": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitHubRepository"
            },
            "description": "Deduplicated across installations, most recently updated first."
          },
          "installations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitHubInstallation"
            }
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "repositories",
          "installations",
          "total"
        ]
      },
      "GitHubRepository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "owner": {
            "$ref": "#/components/schemas/GitHubRepositoryOwner"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "html_url": {
            "type": "string"
          },
          "permissions": {
            "$ref": "#/components/schemas/GitHubRepositoryPermissions"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "installation_id": {
            "type": "number",
            "description": "Which App installation this repository came through."
          }
        },
        "required": [
          "id",
          "name",
          "full_name",
          "private",
          "owner",
          "description",
          "html_url",
          "updated_at",
          "installation_id"
        ]
      },
      "GitHubRepositoryOwner": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "login",
          "avatar_url",
          "type"
        ]
      },
      "GitHubRepositoryPermissions": {
        "type": "object",
        "properties": {
          "admin": {
            "type": "boolean"
          },
          "push": {
            "type": "boolean"
          },
          "pull": {
            "type": "boolean"
          }
        },
        "required": [
          "admin",
          "push",
          "pull"
        ]
      },
      "GitHubInstallation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "account": {
            "$ref": "#/components/schemas/GitHubInstallationAccount"
          },
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Full names of the repositories under this installation. Empty when listing them failed."
          }
        },
        "required": [
          "id",
          "account",
          "repositories"
        ]
      },
      "GitHubInstallationAccount": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "login": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "login",
          "type"
        ]
      },
      "GitHubVerificationResult": {
        "type": "object",
        "properties": {
          "isInstalled": {
            "type": "boolean"
          },
          "installationId": {
            "type": [
              "number",
              "null"
            ]
          },
          "repositoryExists": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "repositoryPrivate": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "permissions": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "The permissions the installation currently grants."
          },
          "hasRequiredPermissions": {
            "type": "boolean"
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissions that must be granted before the link will work."
          },
          "message": {
            "type": "string",
            "description": "A human-readable summary to show the user."
          },
          "settingsUrl": {
            "type": "string",
            "description": "Where to adjust the installation, when one exists."
          },
          "installationUrl": {
            "type": "string",
            "description": "Where to install the App, when it is not installed yet."
          }
        },
        "required": [
          "isInstalled",
          "installationId",
          "repositoryExists",
          "repositoryPrivate",
          "permissions",
          "hasRequiredPermissions",
          "missingPermissions",
          "message"
        ]
      },
      "GitHubIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "repositoryOwner": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "installationId": {
            "type": [
              "number",
              "null"
            ],
            "description": "The GitHub App installation that grants access to the repository."
          },
          "branchPattern": {
            "type": "string",
            "description": "Template used to name branches created for a task."
          },
          "commentTaskLinkOnGitHubIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on the linked GitHub issue."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "repositoryOwner",
          "repositoryName",
          "installationId",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreatedGitHubIntegration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "repositoryOwner": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "installationId": {
            "type": [
              "number",
              "null"
            ],
            "description": "The GitHub App installation that grants access to the repository."
          },
          "branchPattern": {
            "type": "string",
            "description": "Template used to name branches created for a task."
          },
          "commentTaskLinkOnGitHubIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on the linked GitHub issue."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "repositoryOwner",
          "repositoryName",
          "installationId"
        ]
      },
      "GitHubIntegrationNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "GitHubDeleteResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "IssueImportResult": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "number"
          },
          "skipped": {
            "type": "number",
            "description": "Issues that already had a task, or were not importable."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "imported",
          "skipped"
        ]
      },
      "GiteaRepositoryList": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GiteaRepository"
            }
          }
        },
        "required": [
          "repositories"
        ]
      },
      "GiteaRepository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/GiteaRepositoryOwner"
          },
          "private": {
            "type": "boolean"
          },
          "html_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "full_name",
          "owner",
          "private",
          "html_url"
        ]
      },
      "GiteaRepositoryOwner": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          }
        },
        "required": [
          "login"
        ]
      },
      "GiteaVerificationResult": {
        "type": "object",
        "properties": {
          "isInstalled": {
            "type": "boolean"
          },
          "hasRequiredPermissions": {
            "type": "boolean"
          },
          "repositoryExists": {
            "type": "boolean"
          },
          "repositoryPrivate": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string",
            "description": "A human-readable summary to show the user."
          },
          "failureReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "not_a_gitea_instance",
              "redirected",
              "repository_not_found",
              null
            ],
            "description": "Why verification failed, when it did. `redirected` usually means the base URL is behind a proxy that rewrites it."
          }
        },
        "required": [
          "isInstalled",
          "hasRequiredPermissions",
          "repositoryExists",
          "repositoryPrivate",
          "missingPermissions",
          "message",
          "failureReason"
        ]
      },
      "GiteaIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string",
            "description": "Root URL of the Gitea instance."
          },
          "repositoryOwner": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "maskedAccessToken": {
            "type": "string"
          },
          "webhookUrl": {
            "type": "string",
            "description": "Where Gitea should POST events for this project."
          },
          "webhookSecret": {
            "type": "string",
            "description": "Only returned to callers with workspace:manage_settings, so the value can be pasted into Gitea."
          },
          "branchPattern": {
            "type": "string"
          },
          "commentTaskLinkOnGiteaIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on the linked Gitea issue."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "baseUrl",
          "repositoryOwner",
          "repositoryName",
          "maskedAccessToken",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "GiteaIntegrationNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "GiteaDeleteResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "GiteaImportResult": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "number"
          },
          "updated": {
            "type": "number",
            "description": "Existing tasks that were refreshed from their issue."
          },
          "skipped": {
            "type": "number"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "imported",
          "updated",
          "skipped"
        ]
      },
      "GenericWebhookIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "secretConfigured": {
            "type": "boolean"
          },
          "maskedSecret": {
            "type": [
              "string",
              "null"
            ],
            "description": "A preview of the HMAC signing secret used to sign outgoing deliveries."
          },
          "events": {
            "$ref": "#/components/schemas/GenericWebhookEvents"
          },
          "dueDateReminderLeadTimeMinutes": {
            "type": "number",
            "description": "How long before a due date the dueDateReminder event fires, in minutes."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "webhookConfigured",
          "maskedWebhookUrl",
          "secretConfigured",
          "maskedSecret",
          "events",
          "dueDateReminderLeadTimeMinutes",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "GenericWebhookEvents": {
        "allOf": [
          {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          {
            "type": "object",
            "properties": {
              "taskDeleted": {
                "type": "boolean"
              },
              "taskMoved": {
                "type": "boolean"
              },
              "taskDueDateChanged": {
                "type": "boolean"
              },
              "taskAssigneeChanged": {
                "type": "boolean"
              },
              "taskUnassigned": {
                "type": "boolean"
              },
              "dueDateReminder": {
                "type": "boolean"
              }
            },
            "required": [
              "taskDeleted",
              "taskMoved",
              "taskDueDateChanged",
              "taskAssigneeChanged",
              "taskUnassigned",
              "dueDateReminder"
            ]
          }
        ]
      },
      "IntegrationEvents": {
        "type": "object",
        "properties": {
          "taskCreated": {
            "type": "boolean"
          },
          "taskStatusChanged": {
            "type": "boolean"
          },
          "taskPriorityChanged": {
            "type": "boolean"
          },
          "taskTitleChanged": {
            "type": "boolean"
          },
          "taskDescriptionChanged": {
            "type": "boolean"
          },
          "taskCommentCreated": {
            "type": "boolean"
          }
        },
        "required": [
          "taskCreated",
          "taskStatusChanged",
          "taskPriorityChanged",
          "taskTitleChanged",
          "taskDescriptionChanged",
          "taskCommentCreated"
        ]
      },
      "DiscordIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "channelName": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": "string",
            "description": "The webhook URL with its secret path segment masked, or an empty string when none is set."
          },
          "events": {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "channelName",
          "webhookConfigured",
          "maskedWebhookUrl",
          "events",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "SlackIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "channelName": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": "string",
            "description": "The webhook URL with its secret path segment masked, or an empty string when none is set."
          },
          "events": {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "channelName",
          "webhookConfigured",
          "maskedWebhookUrl",
          "events",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "TelegramIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "chatId": {
            "type": "string",
            "description": "The Telegram chat, group, or channel messages are sent to."
          },
          "threadId": {
            "type": [
              "number",
              "null"
            ],
            "description": "Forum topic id, when the target group uses topics."
          },
          "chatLabel": {
            "type": [
              "string",
              "null"
            ],
            "description": "A human-readable name for the chat, shown in the UI."
          },
          "botTokenConfigured": {
            "type": "boolean"
          },
          "maskedBotToken": {
            "type": "string"
          },
          "events": {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "chatId",
          "threadId",
          "chatLabel",
          "botTokenConfigured",
          "maskedBotToken",
          "events",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "TaskRelationWithTasks": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskRelation"
          },
          {
            "type": "object",
            "properties": {
              "sourceTask": {
                "$ref": "#/components/schemas/RelatedTask"
              },
              "targetTask": {
                "$ref": "#/components/schemas/RelatedTask"
              }
            },
            "required": [
              "sourceTask",
              "targetTask"
            ]
          }
        ]
      },
      "RelatedTask": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "title",
          "status",
          "priority",
          "number",
          "projectId",
          "userId",
          "assigneeName"
        ]
      },
      "TaskRelation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sourceTaskId": {
            "type": "string"
          },
          "targetTaskId": {
            "type": "string"
          },
          "relationType": {
            "type": "string",
            "description": "How the two tasks relate: `subtask`, `blocks`, or `related`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "sourceTaskId",
          "targetTaskId",
          "relationType",
          "createdAt"
        ]
      },
      "ExternalLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          },
          "resourceType": {
            "type": "string",
            "description": "The kind of remote resource, e.g. `issue` or `pull_request`."
          },
          "externalId": {
            "type": "string",
            "description": "The provider's own identifier for the linked resource."
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "description": "Provider-specific payload, parsed from the stored JSON string. Null when the link has no metadata."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "integration": {
            "$ref": "#/components/schemas/ExternalLinkIntegration"
          }
        },
        "required": [
          "id",
          "taskId",
          "integrationId",
          "resourceType",
          "externalId",
          "url",
          "title",
          "createdAt",
          "updatedAt",
          "integration"
        ]
      },
      "ExternalLinkIntegration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "WorkflowRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "integrationType": {
            "type": "string",
            "description": "The integration that emits the event, e.g. `github`."
          },
          "eventType": {
            "type": "string",
            "description": "The provider event that triggers the move, e.g. `pull_request.opened`."
          },
          "columnId": {
            "type": "string",
            "description": "The column tasks are moved to when the event fires."
          },
          "columnName": {
            "type": [
              "string",
              "null"
            ]
          },
          "columnSlug": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "integrationType",
          "eventType",
          "columnId",
          "columnName",
          "columnSlug",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkflowRuleRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "integrationType": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "columnId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "integrationType",
          "eventType",
          "columnId",
          "createdAt",
          "updatedAt"
        ]
      },
      "PendingInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "inviterName": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "description": "Always `pending` here; expired and accepted ones are filtered out."
          }
        },
        "required": [
          "id",
          "email",
          "workspaceId",
          "workspaceName",
          "inviterName",
          "expiresAt",
          "createdAt",
          "status"
        ]
      },
      "InvitationDetails": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "True only when the invitation can still be accepted."
          },
          "invitation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "workspaceName": {
                "type": "string"
              },
              "inviterName": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string"
              },
              "expired": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "email",
              "workspaceName",
              "inviterName",
              "expiresAt",
              "status",
              "expired"
            ],
            "description": "Omitted when the invitation does not exist, was already accepted, or was canceled -- the details are withheld rather than leaked."
          },
          "error": {
            "type": "string",
            "description": "Why the invitation is unusable, when valid is false."
          }
        },
        "required": [
          "valid"
        ]
      },
      "WorkspaceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string",
            "description": "The member's workspace role: a built-in role (owner, admin, member, guest) or a custom role name."
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "image",
          "role"
        ]
      },
      "UserAvatar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Public URL for the stored avatar, served from /api/user/avatar/{id}."
          },
          "size": {
            "type": "number",
            "description": "Decoded size in bytes."
          }
        },
        "required": [
          "id",
          "url",
          "size"
        ]
      },
      "UserAvatarDeleted": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean",
            "description": "False when the user had no uploaded avatar to remove."
          }
        },
        "required": [
          "deleted"
        ]
      },
      "BoardSubtaskRelation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sourceTaskId": {
            "type": "string",
            "description": "The parent task id."
          },
          "targetTaskId": {
            "type": "string",
            "description": "The child task id."
          }
        },
        "required": [
          "id",
          "sourceTaskId",
          "targetTaskId"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/instance/status": {
      "get": {
        "operationId": "getInstanceStatus",
        "tags": [
          "Instance"
        ],
        "summary": "Get instance status",
        "description": "Public instance setup status. When hasUsers is false the next signup becomes the instance admin.",
        "security": [],
        "responses": {
          "200": {
            "description": "Instance status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceStatus"
                }
              }
            }
          }
        }
      }
    },
    "/auth/get-session": {
      "get": {
        "operationId": "getSession",
        "tags": [
          "Authentication"
        ],
        "summary": "Get session",
        "description": "Get the current authenticated session, or null when the caller is not signed in. Served by Better Auth.",
        "security": [],
        "responses": {
          "200": {
            "description": "Current session details, or null when unauthenticated"
          }
        }
      }
    },
    "/asset/{id}": {
      "get": {
        "operationId": "getAsset",
        "tags": [
          "Assets"
        ],
        "summary": "Download asset",
        "description": "Download an uploaded asset. Readable without signing in only when it belongs to a public project; image types are served inline, everything else as an attachment.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested asset binary stream",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "403": {
            "description": "No access to this asset"
          },
          "404": {
            "description": "Asset not found"
          }
        }
      }
    },
    "/user/avatar/{id}": {
      "get": {
        "operationId": "getUserAvatar",
        "tags": [
          "User"
        ],
        "summary": "Download avatar",
        "description": "Download a user avatar by its avatar ID. Public, immutable, and cache-friendly: the id changes whenever the avatar is replaced.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The avatar image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "404": {
            "description": "Avatar not found"
          }
        }
      }
    },
    "/config": {
      "get": {
        "operationId": "getConfig",
        "tags": [
          "Config"
        ],
        "summary": "Get config",
        "description": "Public instance settings: which sign-in methods, registration paths, and features are enabled.",
        "security": [],
        "responses": {
          "200": {
            "description": "Application settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Config"
                }
              }
            }
          }
        }
      }
    },
    "/auth/organization/accept-invitation": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "acceptOrganizationInvitation",
        "summary": "Accept Organization Invitation",
        "description": "Accept an invitation to an organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invitationId": {
                    "type": "string",
                    "description": "The ID of the invitation to accept"
                  }
                },
                "required": [
                  "invitationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invitation": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "member": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/add-team-member": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "addOrganizationTeamMember",
        "summary": "Add Organization Team Member",
        "description": "The newly created member",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamId": {
                    "type": "string",
                    "description": "The team the user should be a member of."
                  },
                  "userId": {
                    "type": "string",
                    "description": "The user Id which represents the user to be added as a member."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "The organization ID which the team falls under. If not provided, it will default to the user's active organization."
                  }
                },
                "required": [
                  "teamId",
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the team member"
                    },
                    "userId": {
                      "type": "string",
                      "description": "The user ID of the team member"
                    },
                    "teamId": {
                      "type": "string",
                      "description": "The team ID of the team the team member is in"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Timestamp when the team member was created"
                    }
                  },
                  "required": [
                    "id",
                    "userId",
                    "teamId",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/cancel-invitation": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "cancelOrganizationInvitation",
        "summary": "Cancel Organization Invitation",
        "description": "Cancel Organization Invitation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invitationId": {
                    "type": "string",
                    "description": "The ID of the invitation to cancel"
                  }
                },
                "required": [
                  "invitationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/check-slug": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "checkOrganizationSlug",
        "summary": "Check Organization Slug",
        "description": "Check Organization Slug",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "The organization slug to check. Eg: \"my-org\""
                  }
                },
                "required": [
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/create": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "createOrganization",
        "summary": "Create Organization",
        "description": "Create an organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the organization"
                  },
                  "slug": {
                    "type": "string",
                    "description": "The slug of the organization"
                  },
                  "userId": {
                    "type": "string",
                    "description": "The user id of the organization creator. If not provided, the current user will be used. Should only be used by admins or when called by the server. server-only. Eg: \"user-id\""
                  },
                  "logo": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The logo of the organization"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "The metadata of the organization"
                  },
                  "keepCurrentActiveOrganization": {
                    "type": "boolean",
                    "description": "Whether to keep the current active organization active after creating a new one. Eg: true"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/create-role": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "createOrganizationRole",
        "summary": "Create Organization Role",
        "description": "Create Organization Role",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "description": "The name of the role to create"
                  },
                  "permission": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "The permission to assign to the role"
                  },
                  "additionalFields": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "role",
                  "permission"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/create-team": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "createOrganizationTeam",
        "summary": "Create Organization Team",
        "description": "Create a new team within an organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the team. Eg: \"my-team\""
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "The organization ID which the team will be created in. Defaults to the active organization. Eg: \"organization-id\""
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the created team"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the team"
                    },
                    "organizationId": {
                      "type": "string",
                      "description": "ID of the organization the team belongs to"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Timestamp when the team was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Timestamp when the team was last updated"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "organizationId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/delete": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "deleteOrganization",
        "summary": "Delete Organization",
        "description": "Delete an organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string",
                    "description": "The organization id to delete"
                  }
                },
                "required": [
                  "organizationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/delete-role": {
      "post": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "deleteOrganizationRole",
        "summary": "Delete Organization Role",
        "description": "Delete Organization Role",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "organizationId": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The name of the role to delete"
                          }
                        },
                        "required": [
                          "roleName"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "roleId": {
                            "type": "string",
                            "description": "The id of the role to delete"
                          }
                        },
                        "required": [
                          "roleId"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/get-active-member": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "getOrganizationActiveMember",
        "summary": "Get Organization Active Member",
        "description": "Get the member details of the active organization",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "userId",
                    "organizationId",
                    "role"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/get-active-member-role": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "getOrganizationActiveMemberRole",
        "summary": "Get Organization Active Member Role",
        "description": "Get Organization Active Member Role",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/get-full-organization": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "getOrganizationFullOrganization",
        "summary": "Get Organization Full Organization",
        "description": "Get the full organization",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/get-invitation": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "operationId": "getOrganizationInvitation",
        "summary": "Get Organization Invitation",
        "description": "Get an invitation by ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "inviterId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "organizationName": {
                      "type": "string"
                    },
                    "organizationSlug": {
                      "type": "string"
                    },
                    "inviterEmail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "role",
                    "organizationId",
                    "inviterId",
                    "status",
                    "expiresAt",
                    "organizationName",
                    "organizationSlug",
                    "inviterEmail"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials"
          }
        }
      }
    },
    "/auth/organization/get-role": {
      "get": {
[...]
