{
  "openapi": "3.0.3",
  "info": {
    "title": "Kaneo API",
    "description": "Kaneo Project Management API - Manage projects, tasks, labels, and more",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cloud.kaneo.app/api",
      "description": "Kaneo API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      },
      "apiKeyCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "apiKeyCookie",
        "description": "API Key authentication via cookie"
      }
    },
    "schemas": {
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "slug",
          "createdAt"
        ]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "name",
          "organizationId",
          "createdAt"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/instance/status": {
      "get": {
        "operationId": "getInstanceStatus",
        "tags": [
          "Instance"
        ],
        "description": "Public instance setup status. When hasUsers is false the next signup becomes the instance admin.",
        "security": [],
        "responses": {
          "200": {
            "description": "Instance status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasUsers": {
                      "type": "boolean"
                    },
                    "hasAdmin": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "hasUsers",
                    "hasAdmin"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get Instance Status"
      }
    },
    "/auth/get-session": {
      "get": {
        "operationId": "getSession",
        "tags": [
          "Authentication"
        ],
        "description": "Get the current authenticated session",
        "security": [],
        "responses": {
          "200": {
            "description": "Current session details or null when unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "summary": "Get Session"
      }
    },
    "/asset/{id}": {
      "get": {
        "operationId": "getAsset",
        "tags": [
          "Assets"
        ],
        "description": "Download an uploaded asset by ID",
        "security": [],
        "responses": {
          "200": {
            "description": "The requested asset binary stream",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Asset"
      }
    },
    "/config": {
      "get": {
        "operationId": "getConfig",
        "tags": [
          "Config"
        ],
        "description": "Get application settings and configuration",
        "responses": {
          "200": {
            "description": "Application settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disableRegistration": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "disablePasswordRegistration": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "disableEmailOtpSignIn": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "isDemoMode": {
                      "type": "boolean"
                    },
                    "hasSmtp": {
                      "type": "boolean"
                    },
                    "hasGithubSignIn": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "hasGoogleSignIn": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "hasDiscordSignIn": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "hasCustomOAuth": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "hasGuestAccess": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "disableLoginForm": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "customOAuthAutoLogin": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "customOAuthLogoutUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "disableRegistration",
                    "disablePasswordRegistration",
                    "disableEmailOtpSignIn",
                    "isDemoMode",
                    "hasSmtp",
                    "hasGithubSignIn",
                    "hasGoogleSignIn",
                    "hasDiscordSignIn",
                    "hasCustomOAuth",
                    "hasGuestAccess",
                    "disableLoginForm",
                    "customOAuthAutoLogin",
                    "customOAuthLogoutUrl"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get Config"
      }
    },
    "/auth/device": {
      "get": {
        "operationId": "getDeviceAuthorizationPage",
        "tags": [
          "Authentication"
        ],
        "description": "Redirect browser-based device authorization requests to the web UI",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "user_code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ui",
            "schema": {
              "enum": [
                "1"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device authorization payload from Better Auth",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "302": {
            "description": "Redirects the browser to the web app device screen"
          }
        },
        "summary": "Get Device Authorization Page"
      }
    },
    "/oauth/id-token": {
      "get": {
        "operationId": "getOAuthIdToken",
        "tags": [
          "Authentication"
        ],
        "description": "Get the id_token for the current user's custom OAuth account",
        "responses": {
          "200": {
            "description": "The id_token if available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "idToken": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "idToken"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get OAuth Id Token"
      }
    },
    "/project": {
      "get": {
        "operationId": "listProjects",
        "tags": [
          "Projects"
        ],
        "description": "Get all projects in a workspace",
        "responses": {
          "200": {
            "description": "List of projects with statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "workspaceId": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "icon": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "isPublic": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "archivedAt": {
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "workspaceId",
                      "slug",
                      "icon",
                      "name",
                      "description",
                      "createdAt",
                      "isPublic",
                      "archivedAt"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "includeArchived",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "List Projects"
      },
      "post": {
        "operationId": "createProject",
        "tags": [
          "Projects"
        ],
        "description": "Create a new project in a workspace",
        "responses": {
          "200": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "isPublic": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "archivedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "workspaceId",
                    "slug",
                    "icon",
                    "name",
                    "description",
                    "createdAt",
                    "isPublic",
                    "archivedAt"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "workspaceId",
                  "icon",
                  "slug"
                ]
              }
            }
          }
        },
        "summary": "Create Project"
      }
    },
    "/project/{id}": {
      "get": {
        "operationId": "getProject",
        "tags": [
          "Projects"
        ],
        "description": "Get a specific project by ID",
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "isPublic": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "archivedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "workspaceId",
                    "slug",
                    "icon",
                    "name",
                    "description",
                    "createdAt",
                    "isPublic",
                    "archivedAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Project"
      },
      "put": {
        "operationId": "updateProject",
        "tags": [
          "Projects"
        ],
        "description": "Update an existing project",
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "isPublic": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "archivedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "workspaceId",
                    "slug",
                    "icon",
                    "name",
                    "description",
                    "createdAt",
                    "isPublic",
                    "archivedAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "icon",
                  "slug",
                  "description",
                  "isPublic"
                ]
              }
            }
          }
        },
        "summary": "Update Project"
      },
      "delete": {
        "operationId": "deleteProject",
        "tags": [
          "Projects"
        ],
        "description": "Delete a project by ID",
        "responses": {
          "200": {
            "description": "Project deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "isPublic": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "archivedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "workspaceId",
                    "slug",
                    "icon",
                    "name",
                    "description",
                    "createdAt",
                    "isPublic",
                    "archivedAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete Project"
      }
    },
    "/project/{id}/archive": {
      "put": {
        "operationId": "archiveProject",
        "tags": [
          "Projects"
        ],
        "description": "Archive a project by ID",
        "responses": {
          "200": {
            "description": "Project archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "isPublic": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "archivedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "workspaceId",
                    "slug",
                    "icon",
                    "name",
                    "description",
                    "createdAt",
                    "isPublic",
                    "archivedAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Archive Project"
      }
    },
    "/project/{id}/unarchive": {
      "put": {
        "operationId": "unarchiveProject",
        "tags": [
          "Projects"
        ],
        "description": "Unarchive a project by ID",
        "responses": {
          "200": {
            "description": "Project unarchived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "isPublic": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "archivedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "workspaceId",
                    "slug",
                    "icon",
                    "name",
                    "description",
                    "createdAt",
                    "isPublic",
                    "archivedAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Unarchive Project"
      }
    },
    "/task/tasks/{projectId}": {
      "get": {
        "operationId": "listTasks",
        "tags": [
          "Tasks"
        ],
        "description": "Get all tasks for a specific project",
        "responses": {
          "200": {
            "description": "Project with tasks organized by columns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "priority",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "assigneeId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "enum": [
                "createdAt",
                "priority",
                "dueDate",
                "position",
                "title",
                "number"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dueBefore",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dueAfter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "List Tasks"
      }
    },
    "/task/bulk": {
      "patch": {
        "operationId": "bulkUpdateTasks",
        "tags": [
          "Tasks"
        ],
        "description": "Perform bulk operations on multiple tasks",
        "responses": {
          "200": {
            "description": "Bulk operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updatedCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "updatedCount"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taskIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  },
                  "operation": {
                    "enum": [
                      "updateStatus",
                      "updatePriority",
                      "updateAssignee",
                      "delete",
                      "addLabel",
                      "removeLabel",
                      "updateDueDate"
                    ],
                    "type": "string"
                  },
                  "value": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "taskIds",
                  "operation"
                ]
              }
            }
          }
        },
        "summary": "Bulk Update Tasks"
      }
    },
    "/task/{projectId}": {
      "post": {
        "operationId": "createTask",
        "tags": [
          "Tasks"
        ],
        "description": "Create a new task in a project",
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "startDate": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "priority": {
                    "enum": [
                      "no-priority",
                      "low",
                      "medium",
                      "high",
                      "urgent"
                    ],
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "priority",
                  "status"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "projectId",
            "required": true
          }
        ],
        "summary": "Create Task"
      }
    },
    "/task/{id}": {
      "get": {
        "operationId": "getTask",
        "tags": [
          "Tasks"
        ],
        "description": "Get a specific task by ID",
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Task"
      },
      "put": {
        "operationId": "updateTask",
        "tags": [
          "Tasks"
        ],
        "description": "Update all fields of a task",
        "responses": {
          "200": {
            "description": "Task updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "startDate": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "priority": {
                    "enum": [
                      "no-priority",
                      "low",
                      "medium",
                      "high",
                      "urgent"
                    ],
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "position": {
                    "type": "number"
                  },
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "priority",
                  "status",
                  "projectId",
                  "position"
                ]
              }
            }
          }
        },
        "summary": "Update Task"
      },
      "delete": {
        "operationId": "deleteTask",
        "tags": [
          "Tasks"
        ],
        "description": "Delete a task by ID",
        "responses": {
          "200": {
            "description": "Task deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete Task"
      }
    },
    "/task/move/{id}": {
      "put": {
        "operationId": "moveTask",
        "tags": [
          "Tasks"
        ],
        "description": "Move a task to another project",
        "responses": {
          "200": {
            "description": "Task moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "position": {
                          "type": "number",
                          "nullable": true
                        },
                        "number": {
                          "type": "number",
                          "nullable": true
                        },
                        "userId": {
                          "type": "string",
                          "nullable": true
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string"
                        },
                        "priority": {
                          "enum": [
                            "no-priority",
                            "low",
                            "medium",
                            "high",
                            "urgent"
                          ],
                          "type": "string"
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "dueDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "projectId",
                        "position",
                        "number",
                        "userId",
                        "title",
                        "description",
                        "status",
                        "priority",
                        "createdAt"
                      ]
                    },
                    "sourceProjectId": {
                      "type": "string"
                    },
                    "destinationProjectId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "task",
                    "sourceProjectId",
                    "destinationProjectId"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destinationProjectId": {
                    "type": "string"
                  },
                  "destinationStatus": {
                    "type": "string"
                  }
                },
                "required": [
                  "destinationProjectId"
                ]
              }
            }
          }
        },
        "summary": "Move Task"
      }
    },
    "/task/export/{projectId}": {
      "get": {
        "operationId": "exportTasks",
        "tags": [
          "Tasks"
        ],
        "description": "Export all tasks from a project",
        "responses": {
          "200": {
            "description": "Exported tasks data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Export Tasks"
      }
    },
    "/task/import/{projectId}": {
      "post": {
        "operationId": "importTasks",
        "tags": [
          "Tasks"
        ],
        "description": "Import multiple tasks into a project",
        "responses": {
          "200": {
            "description": "Tasks imported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tasks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "startDate": {
                          "type": "string",
                          "nullable": true
                        },
                        "dueDate": {
                          "type": "string",
                          "nullable": true
                        },
                        "userId": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "title",
                        "status"
                      ]
                    }
                  }
                },
                "required": [
                  "tasks"
                ]
              }
            }
          }
        },
        "summary": "Import Tasks"
      }
    },
    "/task/status/{id}": {
      "put": {
        "operationId": "updateTaskStatus",
        "tags": [
          "Tasks"
        ],
        "description": "Update only the status of a task",
        "responses": {
          "200": {
            "description": "Task status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "summary": "Update Task Status"
      }
    },
    "/task/priority/{id}": {
      "put": {
        "operationId": "updateTaskPriority",
        "tags": [
          "Tasks"
        ],
        "description": "Update only the priority of a task",
        "responses": {
          "200": {
            "description": "Task priority updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "priority": {
                    "enum": [
                      "no-priority",
                      "low",
                      "medium",
                      "high",
                      "urgent"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "priority"
                ]
              }
            }
          }
        },
        "summary": "Update Task Priority"
      }
    },
    "/task/assignee/{id}": {
      "put": {
        "operationId": "updateTaskAssignee",
        "tags": [
          "Tasks"
        ],
        "description": "Assign or unassign a task to a user",
        "responses": {
          "200": {
            "description": "Task assignee updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId"
                ]
              }
            }
          }
        },
        "summary": "Update Task Assignee"
      }
    },
    "/task/due-date/{id}": {
      "put": {
        "operationId": "updateTaskDueDate",
        "tags": [
          "Tasks"
        ],
        "description": "Update only the due date of a task",
        "responses": {
          "200": {
            "description": "Task due date updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dueDate": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "summary": "Update Task Due Date"
      }
    },
    "/task/title/{id}": {
      "put": {
        "operationId": "updateTaskTitle",
        "tags": [
          "Tasks"
        ],
        "description": "Update only the title of a task",
        "responses": {
          "200": {
            "description": "Task title updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "summary": "Update Task Title"
      }
    },
    "/task/image-upload/{id}": {
      "put": {
        "operationId": "createTaskImageUpload",
        "tags": [
          "Tasks"
        ],
        "description": "Create a presigned image upload URL for a task description or comment",
        "responses": {
          "200": {
            "description": "Image upload URL created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "contentType": {
                    "type": "string"
                  },
                  "size": {
                    "type": "number"
                  },
                  "surface": {
                    "enum": [
                      "description",
                      "comment"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "filename",
                  "contentType",
                  "size",
                  "surface"
                ]
              }
            }
          }
        },
        "summary": "Create Task Image Upload"
      }
    },
    "/task/image-upload/{id}/finalize": {
      "post": {
        "operationId": "finalizeTaskImageUpload",
        "tags": [
          "Tasks"
        ],
        "description": "Finalize an uploaded task image and create a private asset record",
        "responses": {
          "200": {
            "description": "Image upload finalized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  },
                  "contentType": {
                    "type": "string"
                  },
                  "size": {
                    "type": "number"
                  },
                  "surface": {
                    "enum": [
                      "description",
                      "comment"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "filename",
                  "contentType",
                  "size",
                  "surface"
                ]
              }
            }
          }
        },
        "summary": "Finalize Task Image Upload"
      }
    },
    "/task/description/{id}": {
      "put": {
        "operationId": "updateTaskDescription",
        "tags": [
          "Tasks"
        ],
        "description": "Update only the description of a task",
        "responses": {
          "200": {
            "description": "Task description updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number",
                      "nullable": true
                    },
                    "number": {
                      "type": "number",
                      "nullable": true
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "priority": {
                      "enum": [
                        "no-priority",
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ],
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "position",
                    "number",
                    "userId",
                    "title",
                    "description",
                    "status",
                    "priority",
                    "createdAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "description"
                ]
              }
            }
          }
        },
        "summary": "Update Task Description"
      }
    },
    "/column/{projectId}": {
      "get": {
        "operationId": "getColumns",
        "tags": [
          "Columns"
        ],
        "description": "Get all columns for a project",
        "responses": {
          "200": {
            "description": "List of columns ordered by position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Columns"
      },
      "post": {
        "operationId": "createColumn",
        "tags": [
          "Columns"
        ],
        "description": "Create a new column in a project",
        "responses": {
          "200": {
            "description": "Column created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "isFinal": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "summary": "Create Column"
      }
    },
    "/column/reorder/{projectId}": {
      "put": {
        "operationId": "reorderColumns",
        "tags": [
          "Columns"
        ],
        "description": "Reorder columns in a project",
        "responses": {
          "200": {
            "description": "Columns reordered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "columns": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "position": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "position"
                      ]
                    }
                  }
                },
                "required": [
                  "columns"
                ]
              }
            }
          }
        },
        "summary": "Reorder Columns"
      }
    },
    "/column/{id}": {
      "put": {
        "operationId": "updateColumn",
        "tags": [
          "Columns"
        ],
        "description": "Update a column",
        "responses": {
          "200": {
            "description": "Column updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string",
                    "nullable": true
                  },
                  "color": {
                    "type": "string",
                    "nullable": true
                  },
                  "isFinal": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "summary": "Update Column"
      },
      "delete": {
        "operationId": "deleteColumn",
        "tags": [
          "Columns"
        ],
        "description": "Delete a column",
        "responses": {
          "200": {
            "description": "Column deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete Column"
      }
    },
    "/activity/{taskId}": {
      "get": {
        "operationId": "getActivities",
        "tags": [
          "Activity"
        ],
        "description": "Get all activities for a specific task",
        "responses": {
          "200": {
            "description": "List of activities for the task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "taskId": {
                        "type": "string"
                      },
                      "type": {
                        "enum": [
                          "comment",
                          "task",
                          "status_changed",
                          "priority_changed",
                          "unassigned",
                          "assignee_changed",
                          "due_date_changed",
                          "title_changed",
                          "description_changed",
                          "create"
                        ],
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "userId": {
                        "type": "string",
                        "nullable": true
                      },
                      "content": {
                        "type": "string",
                        "nullable": true
                      },
                      "eventData": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true
                      },
                      "externalUserName": {
                        "type": "string",
                        "nullable": true
                      },
                      "externalUserAvatar": {
                        "type": "string",
                        "nullable": true
                      },
                      "externalSource": {
                        "type": "string",
                        "nullable": true
                      },
                      "externalUrl": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "taskId",
                      "type",
                      "createdAt",
                      "userId",
                      "content",
                      "eventData",
                      "externalUserName",
                      "externalUserAvatar",
                      "externalSource",
                      "externalUrl"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Activities"
      }
    },
    "/activity/create": {
      "post": {
        "operationId": "createActivity",
        "tags": [
          "Activity"
        ],
        "description": "Create a new activity (system-generated event)",
        "responses": {
          "200": {
            "description": "Activity created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "taskId": {
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "comment",
                        "task",
                        "status_changed",
                        "priority_changed",
                        "unassigned",
                        "assignee_changed",
                        "due_date_changed",
                        "title_changed",
                        "description_changed",
                        "create"
                      ],
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "content": {
                      "type": "string",
                      "nullable": true
                    },
                    "eventData": {
                      "type": "object",
                      "additionalProperties": true,
                      "nullable": true
                    },
                    "externalUserName": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUserAvatar": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalSource": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "taskId",
                    "type",
                    "createdAt",
                    "userId",
                    "content",
                    "eventData",
                    "externalUserName",
                    "externalUserAvatar",
                    "externalSource",
                    "externalUrl"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taskId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string",
                    "nullable": true
                  },
                  "type": {
                    "type": "string"
                  },
                  "eventData": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                },
                "required": [
                  "taskId",
                  "userId",
                  "message",
                  "type"
                ]
              }
            }
          }
        },
        "summary": "Create Activity"
      }
    },
    "/activity/comment": {
      "post": {
        "operationId": "createComment",
        "tags": [
          "Activity"
        ],
        "description": "Create a new comment on a task",
        "responses": {
          "200": {
            "description": "Comment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "taskId": {
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "comment",
                        "task",
                        "status_changed",
                        "priority_changed",
                        "unassigned",
                        "assignee_changed",
                        "due_date_changed",
                        "title_changed",
                        "description_changed",
                        "create"
                      ],
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "content": {
                      "type": "string",
                      "nullable": true
                    },
                    "eventData": {
                      "type": "object",
                      "additionalProperties": true,
                      "nullable": true
                    },
                    "externalUserName": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUserAvatar": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalSource": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "taskId",
                    "type",
                    "createdAt",
                    "userId",
                    "content",
                    "eventData",
                    "externalUserName",
                    "externalUserAvatar",
                    "externalSource",
                    "externalUrl"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taskId": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "taskId",
                  "comment"
                ]
              }
            }
          }
        },
        "summary": "Create Comment"
      },
      "put": {
        "operationId": "updateComment",
        "tags": [
          "Activity"
        ],
        "description": "Update an existing comment",
        "responses": {
          "200": {
            "description": "Comment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "taskId": {
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "comment",
                        "task",
                        "status_changed",
                        "priority_changed",
                        "unassigned",
                        "assignee_changed",
                        "due_date_changed",
                        "title_changed",
                        "description_changed",
                        "create"
                      ],
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "content": {
                      "type": "string",
                      "nullable": true
                    },
                    "eventData": {
                      "type": "object",
                      "additionalProperties": true,
                      "nullable": true
                    },
                    "externalUserName": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUserAvatar": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalSource": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "taskId",
                    "type",
                    "createdAt",
                    "userId",
                    "content",
                    "eventData",
                    "externalUserName",
                    "externalUserAvatar",
                    "externalSource",
                    "externalUrl"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activityId": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "activityId",
                  "comment"
                ]
              }
            }
          }
        },
        "summary": "Update Comment"
      },
      "delete": {
        "operationId": "deleteComment",
        "tags": [
          "Activity"
        ],
        "description": "Delete a comment",
        "responses": {
          "200": {
            "description": "Comment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "taskId": {
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "comment",
                        "task",
                        "status_changed",
                        "priority_changed",
                        "unassigned",
                        "assignee_changed",
                        "due_date_changed",
                        "title_changed",
                        "description_changed",
                        "create"
                      ],
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true
                    },
                    "content": {
                      "type": "string",
                      "nullable": true
                    },
                    "eventData": {
                      "type": "object",
                      "additionalProperties": true,
                      "nullable": true
                    },
                    "externalUserName": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUserAvatar": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalSource": {
                      "type": "string",
                      "nullable": true
                    },
                    "externalUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "taskId",
                    "type",
                    "createdAt",
                    "userId",
                    "content",
                    "eventData",
                    "externalUserName",
                    "externalUserAvatar",
                    "externalSource",
                    "externalUrl"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activityId": {
                    "type": "string"
                  }
                },
                "required": [
                  "activityId"
                ]
              }
            }
          }
        },
        "summary": "Delete Comment"
      }
    },
    "/comment/{taskId}": {
      "get": {
        "operationId": "getTaskComments",
        "tags": [
          "Comments"
        ],
        "description": "Get all comments for a specific task",
        "responses": {
          "200": {
            "description": "List of comments for the task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "taskId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "content": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
[...]
