{
  "openapi": "3.1.0",
  "info": {
    "title": "Kaneo API",
    "description": "Kaneo Project Management API - Manage projects, tasks, labels, and more",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cloud.kaneo.app/api",
      "description": "Kaneo API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      },
      "apiKeyCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "apiKeyCookie",
        "description": "API Key authentication via cookie"
      }
    },
    "responses": {
      "getConfig_200_response": {
        "description": "Application settings",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "disableRegistration": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "isDemoMode": {
                  "type": "boolean"
                },
                "hasSmtp": {
                  "type": "boolean"
                },
                "hasGithubSignIn": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "hasGoogleSignIn": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "hasDiscordSignIn": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "hasCustomOAuth": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "hasGuestAccess": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "disableRegistration",
                "isDemoMode",
                "hasSmtp",
                "hasGithubSignIn",
                "hasGoogleSignIn",
                "hasDiscordSignIn",
                "hasCustomOAuth",
                "hasGuestAccess"
              ]
            }
          }
        }
      },
      "listProjects_200_response": {
        "description": "List of projects with statistics",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "icon": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "createdAt": {},
                  "isPublic": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "workspaceId",
                  "slug",
                  "icon",
                  "name",
                  "description",
                  "createdAt",
                  "isPublic"
                ]
              }
            }
          }
        }
      },
      "createProject_200_response": {
        "description": "Project created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "workspaceId": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "icon": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "isPublic": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "workspaceId",
                "slug",
                "icon",
                "name",
                "description",
                "createdAt",
                "isPublic"
              ]
            }
          }
        }
      },
      "getProject_200_response": {
        "description": "Project details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "workspaceId": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "icon": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "isPublic": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "workspaceId",
                "slug",
                "icon",
                "name",
                "description",
                "createdAt",
                "isPublic"
              ]
            }
          }
        }
      },
      "updateProject_200_response": {
        "description": "Project updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "workspaceId": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "icon": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "isPublic": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "workspaceId",
                "slug",
                "icon",
                "name",
                "description",
                "createdAt",
                "isPublic"
              ]
            }
          }
        }
      },
      "deleteProject_200_response": {
        "description": "Project deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "workspaceId": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "icon": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "isPublic": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "workspaceId",
                "slug",
                "icon",
                "name",
                "description",
                "createdAt",
                "isPublic"
              ]
            }
          }
        }
      },
      "listTasks_200_response": {
        "description": "Project with tasks organized by columns",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "createTask_200_response": {
        "description": "Task created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "getTask_200_response": {
        "description": "Task details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTask_200_response": {
        "description": "Task updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "deleteTask_200_response": {
        "description": "Task deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "exportTasks_200_response": {
        "description": "Exported tasks data",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "importTasks_200_response": {
        "description": "Tasks imported successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "updateTaskStatus_200_response": {
        "description": "Task status updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTaskPriority_200_response": {
        "description": "Task priority updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTaskAssignee_200_response": {
        "description": "Task assignee updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTaskDueDate_200_response": {
        "description": "Task due date updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTaskTitle_200_response": {
        "description": "Task title updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTaskDescription_200_response": {
        "description": "Task description updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "position": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "number": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "enum": [
                    "no-priority",
                    "low",
                    "medium",
                    "high",
                    "urgent"
                  ]
                },
                "dueDate": {},
                "createdAt": {}
              },
              "required": [
                "id",
                "projectId",
                "position",
                "number",
                "userId",
                "title",
                "description",
                "status",
                "priority",
                "createdAt"
              ]
            }
          }
        }
      },
      "getColumns_200_response": {
        "description": "List of columns ordered by position",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "createColumn_200_response": {
        "description": "Column created successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "reorderColumns_200_response": {
        "description": "Columns reordered successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "updateColumn_200_response": {
        "description": "Column updated successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "deleteColumn_200_response": {
        "description": "Column deleted successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "getActivities_200_response": {
        "description": "List of activities for the task",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "taskId": {
                    "type": "string"
                  },
                  "type": {
                    "enum": [
                      "comment",
                      "task",
                      "status_changed",
                      "priority_changed",
                      "unassigned",
                      "assignee_changed",
                      "due_date_changed",
                      "title_changed",
                      "description_changed",
                      "create"
                    ]
                  },
                  "createdAt": {},
                  "userId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "content": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "externalUserName": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "externalUserAvatar": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "externalSource": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "externalUrl": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "taskId",
                  "type",
                  "createdAt",
                  "userId",
                  "content",
                  "externalUserName",
                  "externalUserAvatar",
                  "externalSource",
                  "externalUrl"
                ]
              }
            }
          }
        }
      },
      "createActivity_200_response": {
        "description": "Activity created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "type": {
                  "enum": [
                    "comment",
                    "task",
                    "status_changed",
                    "priority_changed",
                    "unassigned",
                    "assignee_changed",
                    "due_date_changed",
                    "title_changed",
                    "description_changed",
                    "create"
                  ]
                },
                "createdAt": {},
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserAvatar": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalSource": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUrl": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "taskId",
                "type",
                "createdAt",
                "userId",
                "content",
                "externalUserName",
                "externalUserAvatar",
                "externalSource",
                "externalUrl"
              ]
            }
          }
        }
      },
      "createComment_200_response": {
        "description": "Comment created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "type": {
                  "enum": [
                    "comment",
                    "task",
                    "status_changed",
                    "priority_changed",
                    "unassigned",
                    "assignee_changed",
                    "due_date_changed",
                    "title_changed",
                    "description_changed",
                    "create"
                  ]
                },
                "createdAt": {},
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserAvatar": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalSource": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUrl": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "taskId",
                "type",
                "createdAt",
                "userId",
                "content",
                "externalUserName",
                "externalUserAvatar",
                "externalSource",
                "externalUrl"
              ]
            }
          }
        }
      },
      "updateComment_200_response": {
        "description": "Comment updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "type": {
                  "enum": [
                    "comment",
                    "task",
                    "status_changed",
                    "priority_changed",
                    "unassigned",
                    "assignee_changed",
                    "due_date_changed",
                    "title_changed",
                    "description_changed",
                    "create"
                  ]
                },
                "createdAt": {},
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserAvatar": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalSource": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUrl": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "taskId",
                "type",
                "createdAt",
                "userId",
                "content",
                "externalUserName",
                "externalUserAvatar",
                "externalSource",
                "externalUrl"
              ]
            }
          }
        }
      },
      "deleteComment_200_response": {
        "description": "Comment deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "type": {
                  "enum": [
                    "comment",
                    "task",
                    "status_changed",
                    "priority_changed",
                    "unassigned",
                    "assignee_changed",
                    "due_date_changed",
                    "title_changed",
                    "description_changed",
                    "create"
                  ]
                },
                "createdAt": {},
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUserAvatar": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalSource": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "externalUrl": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "taskId",
                "type",
                "createdAt",
                "userId",
                "content",
                "externalUserName",
                "externalUserAvatar",
                "externalSource",
                "externalUrl"
              ]
            }
          }
        }
      },
      "getTaskTimeEntries_200_response": {
        "description": "List of time entries for the task",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "taskId": {
                    "type": "string"
                  },
                  "userId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "startTime": {},
                  "endTime": {},
                  "duration": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "createdAt": {}
                },
                "required": [
                  "id",
                  "taskId",
                  "userId",
                  "description",
                  "startTime",
                  "duration",
                  "createdAt"
                ]
              }
            }
          }
        }
      },
      "getTimeEntry_200_response": {
        "description": "Time entry details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "startTime": {},
                "endTime": {},
                "duration": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {}
              },
              "required": [
                "id",
                "taskId",
                "userId",
                "description",
                "startTime",
                "duration",
                "createdAt"
              ]
            }
          }
        }
      },
      "updateTimeEntry_200_response": {
        "description": "Time entry updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "startTime": {},
                "endTime": {},
                "duration": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {}
              },
              "required": [
                "id",
                "taskId",
                "userId",
                "description",
                "startTime",
                "duration",
                "createdAt"
              ]
            }
          }
        }
      },
      "createTimeEntry_200_response": {
        "description": "Time entry created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "taskId": {
                  "type": "string"
                },
                "userId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "startTime": {},
                "endTime": {},
                "duration": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {}
              },
              "required": [
                "id",
                "taskId",
                "userId",
                "description",
                "startTime",
                "duration",
                "createdAt"
              ]
            }
          }
        }
      },
      "getTaskLabels_200_response": {
        "description": "List of labels for the task",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "createdAt": {},
                  "taskId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "workspaceId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "name",
                  "color",
                  "createdAt",
                  "taskId",
                  "workspaceId"
                ]
              }
            }
          }
        }
      },
      "getWorkspaceLabels_200_response": {
        "description": "List of labels in the workspace",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "createdAt": {},
                  "taskId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "workspaceId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "name",
                  "color",
                  "createdAt",
                  "taskId",
                  "workspaceId"
                ]
              }
            }
          }
        }
      },
      "createLabel_200_response": {
        "description": "Label created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "createdAt": {},
                "taskId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "workspaceId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "color",
                "createdAt",
                "taskId",
                "workspaceId"
              ]
            }
          }
        }
      },
      "getLabel_200_response": {
        "description": "Label details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "createdAt": {},
                "taskId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "workspaceId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "color",
                "createdAt",
                "taskId",
                "workspaceId"
              ]
            }
          }
        }
      },
      "updateLabel_200_response": {
        "description": "Label updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "createdAt": {},
                "taskId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "workspaceId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "color",
                "createdAt",
                "taskId",
                "workspaceId"
              ]
            }
          }
        }
      },
      "deleteLabel_200_response": {
        "description": "Label deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "createdAt": {},
                "taskId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "workspaceId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "color",
                "createdAt",
                "taskId",
                "workspaceId"
              ]
            }
          }
        }
      },
      "listNotifications_200_response": {
        "description": "List of notifications",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": {
                    "enum": [
                      "info",
                      "task_created",
                      "workspace_created",
                      "task_status_changed",
                      "task_assignee_changed",
                      "time_entry_created"
                    ]
                  },
                  "isRead": {
                    "type": "boolean"
                  },
                  "resourceId": {
                    "type": "string"
                  },
                  "resourceType": {
                    "enum": [
                      "task",
                      "workspace"
                    ]
                  },
                  "createdAt": {}
                },
                "required": [
                  "id",
                  "userId",
                  "title",
                  "content",
                  "type",
                  "createdAt"
                ]
              }
            }
          }
        }
      },
      "createNotification_200_response": {
        "description": "Notification created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "type": {
                  "enum": [
                    "info",
                    "task_created",
                    "workspace_created",
                    "task_status_changed",
                    "task_assignee_changed",
                    "time_entry_created"
                  ]
                },
                "isRead": {
                  "type": "boolean"
                },
                "resourceId": {
                  "type": "string"
                },
                "resourceType": {
                  "enum": [
                    "task",
                    "workspace"
                  ]
                },
                "createdAt": {}
              },
              "required": [
                "id",
                "userId",
                "title",
                "content",
                "type",
                "createdAt"
              ]
            }
          }
        }
      },
      "markNotificationAsRead_200_response": {
        "description": "Notification marked as read",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "type": {
                  "enum": [
                    "info",
                    "task_created",
                    "workspace_created",
                    "task_status_changed",
                    "task_assignee_changed",
                    "time_entry_created"
                  ]
                },
                "isRead": {
                  "type": "boolean"
                },
                "resourceId": {
                  "type": "string"
                },
                "resourceType": {
                  "enum": [
                    "task",
                    "workspace"
                  ]
                },
                "createdAt": {}
              },
              "required": [
                "id",
                "userId",
                "title",
                "content",
                "type",
                "createdAt"
              ]
            }
          }
        }
      },
      "markAllNotificationsAsRead_200_response": {
        "description": "All notifications marked as read",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "count": {
                  "type": "number"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      },
      "clearAllNotifications_200_response": {
        "description": "All notifications cleared",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "count": {
                  "type": "number"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      },
      "globalSearch_200_response": {
        "description": "Search results",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tasks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "position": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "number": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "userId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "status": {
                        "type": "string"
                      },
                      "priority": {
                        "enum": [
                          "no-priority",
                          "low",
                          "medium",
                          "high",
                          "urgent"
                        ]
                      },
                      "dueDate": {},
                      "createdAt": {}
                    },
                    "required": [
                      "id",
                      "projectId",
                      "position",
                      "number",
                      "userId",
                      "title",
                      "description",
                      "status",
                      "priority",
                      "createdAt"
                    ]
                  }
                },
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "workspaceId": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "icon": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "createdAt": {},
                      "isPublic": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "workspaceId",
                      "slug",
                      "icon",
                      "name",
                      "description",
                      "createdAt",
                      "isPublic"
                    ]
                  }
                },
                "workspaces": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "logo": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "metadata": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "description": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "createdAt": {}
                    },
                    "required": [
                      "id",
                      "name",
                      "slug",
                      "logo",
                      "metadata",
                      "description",
                      "createdAt"
                    ]
                  }
                },
                "comments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "taskId": {
                        "type": "string"
                      },
                      "type": {
                        "enum": [
                          "comment",
                          "task",
                          "status_changed",
                          "priority_changed",
                          "unassigned",
                          "assignee_changed",
                          "due_date_changed",
                          "title_changed",
                          "description_changed",
                          "create"
                        ]
                      },
                      "createdAt": {},
                      "userId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "content": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalUserName": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalUserAvatar": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalSource": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalUrl": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "taskId",
                      "type",
                      "createdAt",
                      "userId",
                      "content",
                      "externalUserName",
                      "externalUserAvatar",
                      "externalSource",
                      "externalUrl"
                    ]
                  }
                },
                "activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "taskId": {
                        "type": "string"
                      },
                      "type": {
                        "enum": [
                          "comment",
                          "task",
                          "status_changed",
                          "priority_changed",
                          "unassigned",
                          "assignee_changed",
                          "due_date_changed",
                          "title_changed",
                          "description_changed",
                          "create"
                        ]
                      },
                      "createdAt": {},
                      "userId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "content": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalUserName": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalUserAvatar": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalSource": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalUrl": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "taskId",
                      "type",
                      "createdAt",
                      "userId",
                      "content",
                      "externalUserName",
                      "externalUserAvatar",
                      "externalSource",
                      "externalUrl"
                    ]
                  }
                }
              },
              "required": []
            }
          }
        }
      },
      "getGitHubAppInfo_200_response": {
        "description": "GitHub app information",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "appName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "appName"
              ]
            }
          }
        }
      },
      "listGitHubRepositories_200_response": {
        "description": "List of repositories",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "login": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "login"
                    ]
                  },
                  "private": {
                    "type": "boolean"
                  },
                  "html_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "full_name",
                  "owner",
                  "private",
                  "html_url"
                ]
              }
            }
          }
        }
      },
      "verifyGitHubInstallation_200_response": {
        "description": "Verification result",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "installed": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "installed"
              ]
            }
          }
        }
      },
      "getGitHubIntegration_200_response": {
        "description": "GitHub integration details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "repositoryOwner": {
                  "type": "string"
                },
                "repositoryName": {
                  "type": "string"
                },
                "installationId": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "isActive": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "updatedAt": {}
              },
              "required": [
                "id",
                "projectId",
                "repositoryOwner",
                "repositoryName",
                "installationId",
                "isActive",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        }
      },
      "createGitHubIntegration_200_response": {
        "description": "Integration created successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "repositoryOwner": {
                  "type": "string"
                },
                "repositoryName": {
                  "type": "string"
                },
                "installationId": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "isActive": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "updatedAt": {}
              },
              "required": [
                "id",
                "projectId",
                "repositoryOwner",
                "repositoryName",
                "installationId",
                "isActive",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        }
      },
      "updateGitHubIntegration_200_response": {
        "description": "Integration updated successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "repositoryOwner": {
                  "type": "string"
                },
                "repositoryName": {
                  "type": "string"
                },
                "installationId": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "isActive": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "updatedAt": {}
              },
              "required": [
                "id",
                "projectId",
                "repositoryOwner",
                "repositoryName",
                "installationId",
                "isActive",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        }
      },
      "updateGitHubIntegration_404_response": {
        "description": "Integration not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          }
        }
      },
      "deleteGitHubIntegration_200_response": {
        "description": "Integration deleted successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "repositoryOwner": {
                  "type": "string"
                },
                "repositoryName": {
                  "type": "string"
                },
                "installationId": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "isActive": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {},
                "updatedAt": {}
              },
              "required": [
                "id",
                "projectId",
                "repositoryOwner",
                "repositoryName",
                "installationId",
                "isActive",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        }
      },
      "importGitHubIssues_200_response": {
        "description": "Issues imported successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "imported": {
                  "type": "number"
                },
                "skipped": {
                  "type": "number"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "imported",
                "skipped"
              ]
            }
          }
        }
      },
      "getExternalLinksByTask_200_response": {
        "description": "External links for the task",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "taskId": {
                    "type": "string"
                  },
                  "integrationId": {
                    "type": "string"
                  },
                  "resourceType": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "metadata": {},
                  "createdAt": {},
                  "updatedAt": {}
                },
                "required": [
                  "id",
                  "taskId",
                  "integrationId",
                  "resourceType",
                  "externalId",
                  "url",
                  "title",
                  "metadata",
                  "createdAt",
                  "updatedAt"
                ]
              }
            }
          }
        }
      },
      "getWorkflowRules_200_response": {
        "description": "List of workflow rules",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "upsertWorkflowRule_200_response": {
        "description": "Workflow rule upserted successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "deleteWorkflowRule_200_response": {
        "description": "Workflow rule deleted successfully",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      },
      "getUserPendingInvitations_200_response": {
        "description": "List of pending invitations",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "workspaceName": {
                    "type": "string"
                  },
                  "inviterName": {
                    "type": "string"
                  },
                  "expiresAt": {
                    "type": "string"
                  },
                  "createdAt": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "email",
                  "workspaceId",
                  "workspaceName",
                  "inviterName",
                  "expiresAt",
                  "createdAt",
                  "status"
                ]
              }
            }
          }
        }
      },
      "getInvitationDetails_200_response": {
        "description": "Invitation details",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "type": "boolean"
                },
                "invitation": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "workspaceName": {
                      "type": "string"
                    },
                    "inviterName": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "expired": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "workspaceName",
                    "inviterName",
[...]
